<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link  rel="stylesheet"  href="/bootstrap/css/bootstrap-table.css">
    <link  rel="stylesheet"  href="/bootstrap/css/bootstrap.min.css">
    <style type="text/css">
        .table {table-layout:fixed;}
        .btn{font-size: 12px;}
    </style>
</head>
<body>
<!--订单管理开始-->
<div class="order_magger">
    <!-- order表单 Begin -->
    <div class="left columns">
        <select name="datetime" class="where">
            <option selected="selected" value="0">所有订单</option>
            <option value="1">近一个月订单</option>
            <option value="2">近三个月订单</option>
            <option value="3">近一年订单</option>
        </select>
        <select name="order_status"class="where">
            <option value="0">全部状态</option>
            <option value="1">待付款</option>
            <option value="2">待发货</option>
            <option value="3">待收货</option>
            <option value="9">已收货</option>
            <option value="7">已发货</option>
            <option value="5">待评价</option>
            <option value="8">交易成功</option>
            <option value="6">交易失败</option>
        </select>
    </div>
    <div class="right columns">
        订单编号：<!--订单编号：-->
        <input type="text" class="txt where" name="order_id" value="">
        <button type="button" class="lookup btn btn-primary" name="selectbut">查 询</button>
        <!-- <input type="submit" class="lookup" value="查询">-->
    </div>
    <table id="table" class="table tabla table-bordered table-hover tablb table-striped"></table>
    <!-- order表单 End -->
</div>
<script type="text/javascript"  src="/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="/js/bootstrap-table/CommBootstrap.js"></script>
<script type="text/javascript" src="/js/bootstrap-table/CommAjax.js"></script>
<script src="/js/layer/layer.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-table/CommLayer.js"></script>
<script src="/js/myorder.js"></script>
</body>
</html>