@charset "utf-8";

* {
    font-family: Helvetica,Tahoma,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei",STXihei,STHeiti,Heiti,SimSun,sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}


.pt_nav_left {
    width: 202px;
    height: 37px;
    line-height: 44px;
    margin-right: 20px
}
.pt_nav_left .all_wb_txt {
    height: 44px;
    line-height: 44px;
    display: block;
    padding: 0 16px;
    font-size: 14px;
    color: #fff;
    background-image: linear-gradient(269deg, #b34747 1%, #cc5252 98%);
    background-color: #b32424
}


.pt_nav_left .icon-a-all {
    display: inline-block;
    float: right;
    margin-top: 14px
}

.pt_nav_left .nav_left_menu {
    display: none;
    width: 202px;
    height: 460px;
    position: absolute;
    z-index: 88;
    background: #e6e6e6;
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .1), -2px 0 4px 0 rgba(0, 0, 0, .1)
}


.pt_nav_left .all_wb_txt .logo-w {
    display: inline-block;
    padding-top: 13px
}

.pt_nav_left .all_wb_txt {
    height: 37px;
    line-height: 37px;
    display: block;
    padding: 0 16px;
    font-size: 14px;
    color: #fff;
    background-image: linear-gradient(269deg, #b34747 1%, #cc5252 98%);
    background-color: #b32424
}

.pt_nav_left .icon-a-all {
    display: inline-block;
    float: right;
    margin-top: 16px
}

.pt_nav_left .nav_left_menu {
    display: none;
    width: 202px;
    height: 405px;
    position: absolute;
    z-index: 88;
    background: #e6e6e6;
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .1), -2px 0 4px 0 rgba(0, 0, 0, .1)
}

.pt_nav_warp .pt_nav_left {
    width: 202px;
    height: 48px;
    line-height: 48px;
    margin-right: 20px
}


.fl {
    float: left;
}

.nav_left_menu .menu_box {
    width: 100%;
    height: 57.5px;
    overflow: hidden;
    box-shadow: inset -20px -7px 7px -15px rgba(0, 0, 0, .04)
}

.nav_left_menu .menu_box .menu_line {
    display: none;
    content: '';
    width: 4px;
    height: 100%;
    background-color: #ccaa7a
}

.nav_left_menu .menu_box dl {
    width: 182px;
    height: 100%;
    margin: 0 auto;
    box-shadow: inset 0 1px 0 0 rgba(196, 142, 142, .1)
}

.nav_left_menu .menu_box:last-child dl {
    margin-top: 0;
    border-bottom: 0
}

.nav_left_menu .menu_box dl dt a {
    color: #4d4d4d;
    float: left;
    font-weight: 700;
    line-height: 57.5px
}

.nav_left_menu .menu_box dl dt a em {
    display: inline-block;
    color: #b3b3b3;
    margin-left: 5px
}

.nav_left_menu .menu_box .rel {
    overflow: hidden;
    width: 100%;
    max-width: 119px;
    height: 57.5px;
    color: #ccc
}

.nav_left_menu .menu_box dl .rel a {
    padding: 0;
    margin-right: 3px;
    line-height: 57.5px
}

.nav_left_menu .menu_box .sub_menu {
    display: none;
    width: 998px;
    height: 405px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 202px;
    box-shadow: 4px 0 8px 0 rgba(0, 0, 0, .1)
}

.nav_left_menu .menu_box:hover {
    background: #fff;
    box-shadow: none
}

.nav_left_menu .menu_box:hover .rel_a:hover {
    text-decoration: underline;
    color: #333
}

.nav_left_menu .menu_box:hover .menu_line, .nav_left_menu .menu_box:hover .sub_menu {
    display: inline-block
}


.nav_left_menu .menu_box .menu_line {
    display: none;
    content: '';
    width: 4px;
    height: 100%;
    background-color: #ccaa7a
}

.nav_left_menu .menu_box:hover .menu_line, .nav_left_menu .menu_box:hover .sub_menu {
    display: inline-block
}
.elps1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

a {
    text-decoration: none;
    /*color: #666;*/
    line-height: 1.5;
    cursor: pointer;
}




.nav_left_menu .sub_menu .col_box {
    overflow: hidden;
    width: 717px;
    margin: 23px 28px 0 24px
}

.nav_left_menu .sub_menu .col_box .t {
    position: relative;
    display: block;
    color: #666;
    margin-bottom: 12px;
    line-height: 15px;
    padding-left: 7px;
    font-size: 14px;
    font-weight: 700
}

.nav_left_menu .sub_menu .col_box .t:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 14px;
    background-color: #666
}

.nav_left_menu .sub_menu .brand_list {
    position: relative;
    width: 712px;
    max-height: 278px;
    margin-bottom: 24px;
    box-sizing: border-box
}

.nav_left_menu .sub_menu .brand_list ul::-webkit-scrollbar {
    width: 4px
}

.nav_left_menu .sub_menu .brand_list ul::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
    border-radius: 8px
}

.nav_left_menu .sub_menu .brand_list .brand_bottom {
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    z-index: 2;
    bottom: -1px;
    background: url(//static.wbiao.co/p/pc/images/1/brand-logo-down.png) bottom center repeat
}

.menu_bottom_line {
    width: 100%;
    float: left;
    height: 20px
}

.nav_left_menu .sub_menu .brand_list ul {
    width: 712px;
    overflow-y: scroll;
    max-height: 278px
}

.nav_left_menu .sub_menu .brand_list ul li {
    position: relative;
    width: 139px;
    height: 79px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    margin-left: -1px
}

.nav_left_menu .sub_menu .brand_list ul li:nth-child(5n+1) {
    margin-left: 0
}

.nav_left_menu .sub_menu .brand_list ul li:nth-child(n+6) {
    margin-top: -1px
}

.nav_left_menu .sub_menu .brand_list a {
    display: block;
    width: 139px;
    height: 79px;
    text-align: center
}

.nav_left_menu .sub_menu .brand_list a:hover .p_name {
    display: block
}

.nav_left_menu .sub_menu .brand_list a .p_logo {
    width: 100%;
    height: 40px;
    background-color: #fff;
    padding-top: 19px
}

.nav_left_menu .sub_menu .brand_list a .p_logo img {
    width: auto;
    height: 100%
}

.nav_left_menu .sub_menu .brand_list a .p_name {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 79px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background-color: #ccaa7a;
    text-align: center
}

.nav_left_menu .sub_menu .brand_ads {
    display: block;
    width: 205px;
    height: 412px;
    /*margin-top: 23px*/
}

.nav_left_menu .sub_menu .col_box {
    overflow: hidden;
    width: 717px;
    margin: 23px 28px 0 24px
}

.nav_left_menu .sub_menu .col_box .t {
    position: relative;
    display: block;
    color: #666;
    margin-bottom: 12px;
    line-height: 15px;
    padding-left: 7px;
    font-size: 14px;
    font-weight: 700
}

.nav_left_menu .sub_menu .col_box .t:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 14px;
    background-color: #666
}
.nav_left_menu .sub_menu .col_2 .hot_words .hot_a {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 18px;
    border: 1px solid #eee;
    border-radius: 100px;
    font-size: 14px;
    color: #666
}

.nav_left_menu .sub_menu .col_2 .hot_words .hot_a:hover {
    background-color: #ccaa7a;
    border-color: #ccaa7a;
    color: #fff
}

.nav_left_menu .sub_menu .col_box .t {
    position: relative;
    display: block;
    color: #666;
    margin-bottom: 12px;
    line-height: 15px;
    padding-left: 7px;
    font-size: 14px;
    font-weight: 700;
}
/*########################################################*/
.menu_box:hover{

}
