@charset "utf-8";
* {
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

html {
    overflow-x: hidden;
    overflow-y: scroll
}

body {
    line-height: 1;
    background: #fff
}

textarea {
    padding: 5px
}

fieldset, img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

h1 {
    font-size: 19px
}

h2 {
    font-size: 17px
}

h3 {
    font-size: 15px
}

h4, h5, h6 {
    font-size: 100%
}

hr {
    border: none;
    height: 1px
}

em, i {
    font-style: normal
}

a, area, input, button, select, textarea {
    outline: none;
    background-image: url(about:blank)
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ccc
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #ccc
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #ccc
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    background-color: rgb(0, 0, 0) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important
}

a {
    text-decoration: none;
    color: #666;
    line-height: 1.5;
    cursor: pointer
}

a:hover {
    text-decoration: none
}

.clear {
    clear: both
}

.clearfix:after {
    content: "";
    display: block;
    clear: both
}

.fl {
    float: left
}

.fr {
    float: right
}

.h {
    display: none !important
}
.lazy{
    width: 200px;
}
.h_link_li{
    margin: 5px;
    padding: 10px;
    color: #666;
}
.h_link_li>ul>li{
    margin-top:5px;
}

.h_link_li:hover{
    box-shadow: 0px 0px 10px grey;
}

.elps2 {
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    display: -webkit-box
}

.elps1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}
/*.goods_txt{*/
/*margin-top: 10px;*/
/*}*/
.goods_sale{
    margin-bottom: 10px;
    line-height: 20px;
    padding: 5px;
}
.goods_sale em{
    float: left;
    color: #b01330!important;
}
.lazy-load {
    cursor: pointer;
    transition: all 0.6s;
}
.lazy-load:hover {
    transform: scale(1.1);

}
.W_main {
    width: 100%;
    min-width: 990px;
    margin: 0 auto;
    background: #fff
}

.W_main img {
    border: 0;
    display: block
}
.s_goods_name{
    font-size: 13px;
    overflow: hidden;
    height: 34px;
    display: block;
    padding: 0px 10px;
}