@charset "utf-8";
.top_hot_keyword a {
    display: block;
    margin: 0 8px;
    line-height: 36px
}

.red {
    color: #ce0000 !important
}

.height_auto {
    height: auto !important
}

.W_main .W_list_wrap {
    width: 1200px;
    margin: 0 auto
}

.W_list_wrap .list_left_area {
    width: 210px;
    display: inline
}

.list_left_area .moulde_side {
    margin-bottom: 25px;
    width: 100%;
    overflow: hidden
}

.list_left_area .moulde_side .tab_txt {
    background-color: #f1f1f1;
    display: flex
}

.list_left_area .moulde_side .moudle_con {
    padding-top: 20px;
    color: #959595;
    line-height: 20px;
    border: 1px solid #eee
}

.list_left_area .search_clist {
    border: 1px solid #fff;
    color: #666
}

.search_clist h3 {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    background: #f7f7f7;
    border-bottom: 1px solid #dcdcdc;
    padding: 0 8px;
    position: relative
}

.search_clist li ul {
    padding: 10px 10px 15px 26px;
    line-height: 20px
}

.search_clist .first_list ul li a.on {
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline
}

.search_clist ul li a.on {
    color: #ae0e16
}

.search_clist .search_sublist {
    padding: 5px 0 10px 0
}

.search_clist .search_sublist a {
    padding-right: 19px;
    display: inline-block;
    white-space: nowrap
}

.list_left_area .list_act {
    position: relative;
    height: 416px
}

.list_left_area .list_act .bx-viewport, .list_left_area .list_act .bx-viewport .sliders {
    height: 400px !important
}

.list_left_area .list_act .bx-viewport .sliders a {
    display: block;
    height: 400px
}

.moulde_side .bx-controls .bx-pager {
    margin-top: 10px;
    height: 6px;
    text-align: center
}

.list_left_area .friend_comment .bx-controls .bx-pager {
    margin-top: 30px;
    height: 2px
}

.bx-pager .bx-pager-item {
    display: inline-block
}

.moulde_side .bx-controls .bx-pager a {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ccc;
    font-size: 0;
    margin: 0 3px
}

.moulde_side .bx-controls .bx-pager a.active {
    background: #cc9952
}

.list_left_area .friend_comment .bx-controls .bx-pager a {
    width: 20px;
    height: 2px;
    background-color: #ccc;
    border-radius: 0
}

.list_left_area .friend_comment .bx-controls .bx-pager a.active {
    background-color: #cc9952
}

.list_left_area .moulde_side h2 {
    color: #666;
    font-size: 14px;
    padding: 0 12px;
    background: #f1f1f1;
    line-height: 40px
}

.hot_recommend .hot_goods_list ul {
    padding: 0 10px
}

.hot_recommend .hot_goods_list ul li {
    padding: 15px 8px;
    border-bottom: 1px dashed #ccc
}

.hot_recommend .hot_goods_list ul li:last-child, .list_left_area .friend_share_slide .sliders a:last-child {
    border-bottom: none
}

.hot_recommend .hot_goods_list ul li a {
    display: block
}

.hot_recommend .hot_goods_list ul li a .p1 img {
    width: 140px;
    margin: 0 auto
}

.hot_recommend .hot_goods_list ul li a .p2 {
    text-align: left;
    margin: 12px 0 8px 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all
}

.hot_recommend .hot_goods_list ul li a .p3 b {
    font-size: 14px;
    color: #b01330
}

.hot_recommend .hot_goods_list ul li a .p3 span {
    color: #787878;
    font-weight: 700;
    line-height: 21px
}

.list_left_area .moulde_side .tab_txt li {
    flex: 1;
    display: inline-block;
    cursor: pointer;
    color: #999;
    font-size: 14px;
    text-align: center;
    height: 40px;
    line-height: 40px
}

.list_left_area .moulde_side .tab_txt .tab_in, .list_left_area .moulde_side .tab_txt li:hover {
    color: #666;
    font-weight: 700
}

.moulde_side .moudle_con .tab_con {
    display: none
}

.moulde_side .moudle_con .tab_con:first-child {
    display: block
}

.moulde_side .hot_word {
    padding: 0 8px 12px 8px
}

.moulde_side .hot_word a {
    display: inline-block;
    color: #666;
    padding: 4px 11px;
    border: 1px solid #ddd;
    border-radius: 100px;
    margin-right: 4px;
    margin-bottom: 8px
}

.moulde_side .hot_word a:hover {
    border-color: #999;
    color: #333
}

.list_left_area .friend_comment .moudle_con {
    padding-top: 0;
    padding-bottom: 30px;
    position: relative;
    height: 308px;
    background-color: #fff
}

.list_left_area .friend_comment .moudle_con .bx-wrapper {
    position: absolute;
    background-color: #fff;
    z-index: 1;
    height: 100%
}

.list_left_area .friend_comment .moudle_con .bx-wrapper:first-child {
    z-index: 2
}

.list_left_area .friend_comment .moudle_con .bx-wrapper.index {
    z-index: 3
}

.friend_comment .friend_comment_slide .sliders a {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 28px 15px 0 15px
}

.friend_comment .friend_comment_slide .sliders a .s_img {
    width: 64px;
    height: 64px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #ddd;
    box-sizing: border-box
}

.friend_comment .friend_comment_slide .sliders a .s_img img {
    width: auto;
    height: 98%;
    margin: 1%
}

.friend_comment .friend_comment_slide .sliders a .right_txt {
    width: 104px;
    margin-left: 10px
}

.friend_comment .friend_comment_slide .sliders a .right_txt .p1 {
    color: #333;
    font-weight: 700;
    line-height: 12px;
    margin-top: 4px;
    margin-bottom: 8px
}

.friend_comment .friend_comment_slide .sliders a .right_txt .p2 {
    color: #999;
    line-height: 18px
}

.brows_history .history_tit {
    color: #666;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    background-color: #f1f1f1;
    padding-left: 12px
}

.list_left_area .brows_history .history_goods {
    padding: 28px 15px 0
}

.brows_history .history_goods ul li a {
    display: block;
    margin-bottom: 28px;
    overflow: hidden
}

.brows_history .history_goods ul li a .p1 {
    position: relative;
    width: 160px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff
}

.brows_history .history_goods ul li a .p1 .yaofeng {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0
}

.brows_history .history_goods ul li a .p1 .yaofeng img {
    width: 100%
}

.brows_history .history_goods ul li a .p1 .yaofeng span {
    position: absolute;
    right: 3px;
    bottom: 3px;
    color: #fff;
    font-size: 12px;
    font-family: DIN-Bold
}

.brows_history .history_goods ul li a .p1 .yaofeng span .yaofeng_price {
    font-size: 14px;
    font-family: DIN-Bold
}

.brows_history .history_goods ul li a .p1 > img {
    display: inline-block;
    height: 160px
}

.brows_history .history_goods ul li a .p2 {
    color: #333;
    font-weight: 700;
    margin: 5px 0;
    font-family: DIN-Bold
}

.brows_history .history_goods ul li a .p3 {
    margin-top: 6px;
    color: #999
}

.brows_history .history_goods ul li .month_tag {
    position: relative;
    top: -2px;
    display: inline-block;
    padding: 0 2px;
    background: linear-gradient(270deg, #ff8080 0, #e65c5c 100%);
    border-radius: 2px;
    color: #fff
}

.brows_history .history_goods ul li .fenqi_price {
    margin-right: 10px;
    color: #e65c5c;
    font-size: 16px;
    font-family: DIN-Bold
}

.brows_history .history_goods ul li .s_price {
    position: relative;
    color: #666;
    font-size: 16px;
    font-family: DIN-Bold;
    font-weight: 400
}

.brows_history .history_goods ul li .s_price::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -7px;
    width: 1px;
    height: 12px;
    background: #ddd
}

.list_left_area .watch_information .moudle_con {
    padding-bottom: 6px
}

.list_left_area .watch_information .watch_left li a {
    display: block;
    width: 90%;
    margin: 0 auto 14px;
    line-height: 13px;
    color: #666
}

.list_left_area .watch_information .watch_left li a:hover {
    color: #333;
    text-decoration: underline
}

.list_left_area .watch_information .watch_right p {
    text-indent: 2em;
    line-height: 18px;
    padding: 0 10px;
    margin-bottom: 20px
}

.list_left_area .watch_information .watch_right p a {
    font-weight: 700;
    color: #959595
}

.list_left_area .moudle_con .hot_brands a:hover, .list_left_area .watch_information .watch_right p a:hover {
    color: #333;
    text-decoration: underline
}

.list_left_area .moudle_con .hot_brands a {
    display: block;
    margin: 0 20px 20px 20px;
    color: #666
}

.list_left_area .moudle_con .hot_brands a i {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 16px;
    color: #999
}

.list_right_area {
    width: 970px
}

.list_right_area .recommend_store {
    position: relative;
    display: block;
    width: 968px;
    height: 124px;
    margin: 0 auto 30px
}

.list_right_area .recommend_store .store_img {
    width: 968px;
    height: 124px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden
}

.list_right_area .recommend_store .store_img img {
    width: 100%
}

.list_right_area .recommend_store .store_box {
    position: absolute;
    width: 316px;
    height: 84px;
    background: #fff;
    margin: 20px
}

.list_right_area .recommend_store .store_box .store_logo {
    position: relative;
    width: 120px;
    height: 100%
}

.list_right_area .recommend_store .store_box .store_logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.list_right_area .recommend_store .store_box .store_txt {
    width: 158px;
    margin-top: 15px
}

.list_right_area .recommend_store .store_box .store_txt .p1 {
    font-size: 14px;
    color: #333
}

.list_right_area .recommend_store .store_box .store_txt .p1 b {
    display: inline-block;
    font-size: 14px;
    vertical-align: bottom;
    max-width: 90%
}

.list_right_area .recommend_store .store_box .store_txt .p2 {
    color: #999;
    height: 32px;
    line-height: 16px;
    overflow: hidden
}

.list_right_area .search_floor {
    position: relative;
    color: #666;
    background: #fff;
    margin-bottom: 45px
}

.list_right_area .search_filter_line {
    border: 1px solid #ddd;
    border-top: 0
}

.list_right_area .search_filter_line .property_list {
    margin-bottom: -1px
}

.list_right_area .search_filter_line .srh_catalog .srh_title {
    border-top: 1px solid #fff
}

.list_right_area .search_filter_line .property_list .srh_block:nth-child(2), .search_floor .property_list .srh_block:last-child {
    border: 0;
    margin-bottom: 1px
}

.search_floor .srh_result {
    position: relative;
    background: #fafafa;
    min-width: 22px;
    line-height: 22px;
    padding: 5px 80px 5px 12px;
    border: 1px solid #ddd;
    border-bottom: 0
}

.search_floor .srh_result .select_a {
    display: inline-block
}

.search_floor .srh_result .select_a a {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    border: 1px solid #dfdfdf;
    padding: 0 3px;
    margin-left: 5px;
    color: #313131;
    box-sizing: border-box
}

.search_floor .srh_result .select_a a b {
    color: #333
}

.search_floor .srh_result .select_a a b em {
    display: inline-block;
    margin-left: 5px
}

.search_floor .srh_result .cancel_selection {
    color: #999;
    position: absolute;
    top: 7px;
    right: 10px
}

.search_floor .srh_block {
    line-height: 40px;
    position: relative;
    border-bottom: 1px solid #eee
}

.search_floor .hide {
    display: none
}

.search_floor .srh_block.special_block {
    position: relative;
    border: 2px solid #e6c9a1;
    background: #f7f2eb
}

.search_floor .srh_block.special_block .srh_title {
    background: 0 0
}

.search_floor .srh_block.special_block .srh_right {
    background-color: #fff;
    margin-right: 0;
    padding-right: 12px
}

.search_floor .srh_block .srh_hold_up {
    display: none;
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: #f0f0f0;
    color: #444;
    z-index: 2;
    width: 52px;
    height: 20px;
    line-height: 20px;
    text-align: center
}

.search_floor .srh_block .srh_right {
    position: relative;
    margin-left: 80px;
    margin-right: 12px
}

.search_floor .srh_brand.srh_block .srh_title {
    position: absolute;
    top: 0;
    bottom: 0
}

.search_floor .srh_block .srh_title {
    width: 56px;
    padding: 0 12px;
    font-weight: 700;
    color: #666;
    background-color: #fafafa
}

.search_floor .srh_block .srh_option {
    height: 26px;
    padding: 7px 15px;
    overflow: hidden
}

.search_floor .srh_block .brand_option .srh_option {
    height: auto
}

.search_floor .srh_series .srh_option ul li {
    padding-right: 23px;
    margin-right: 0
}

.srh_block .srh_option ul li {
    margin-right: 23px;
    display: block
}

.srh_block .srh_option a {
    color: #666;
    padding: 0 3px;
    line-height: 26px
}

.srh_block .srh_option a:hover, .srh_block .srh_option li.on a, .srh_brand .brand_con .sear_cont ul li a:hover {
    color: #fff;
    border-radius: 2px;
    padding-bottom: 1px
}

.srh_catalog .srh_option li.on a {
    background: #333
}

.srh_block .srh_option a:hover {
    background-color: #ccaa7a
}

.special_block .srh_option li:before {
    content: '';
    width: 14px;
    height: 14px;
    display: inline-block;
    border: 1px solid #ccc;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    box-sizing: border-box;
    vertical-align: middle;
    margin-top: -3px
}

.special_block .srh_option li.on:before {
    background: url(https://static.wbiao.co/p/pc/images/list/is-selected.png) no-repeat;
    border: none
}

.special_block .srh_option li.on a, .special_block .srh_option li.on:hover a {
    background: 0 0;
    color: #333
}

.special_block .srh_option li:hover:before {
    border-color: #cc9952
}

.special_block .srh_option li:hover a {
    color: #cc9952;
    background: 0 0
}

.search_floor .special_block .srh_hold_up {
    display: block
}

.search_floor .srh_block .srh_more_btn, .search_floor .srh_price .price_range {
    position: absolute;
    right: 0
}

.srh_block .srh_more_btn a {
    display: inline-block;
    width: 50px;
    background: #f0f0f0;
    border: 1px solid #ececec;
    margin-left: 5px;
    margin-top: 10px;
    text-align: center;
    color: #666
}

.srh_block .srh_more_btn .on, .srh_block .srh_more_btn a:hover {
    border: 1px solid #cc9952;
    background: #fff
}

.srh_block .s_icon {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px
}

.srh_block .srh_more_btn .show_more .icon-d-down {
    transition: all .3s ease
}

.srh_block .srh_more_btn .show_more.on .icon-d-down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.srh_block .srh_comfire {
    text-align: center;
    margin-bottom: 5px;
    width: 100%
}

.srh_block .srh_comfire .s_btn {
    display: inline-block;
    width: 56px;
    height: 24px;
    border: 1px solid #999;
    color: #666;
    background: #fff;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.srh_block .srh_comfire .submit_btn {
    color: #ccc;
    border-color: #ccc;
    margin-right: 8px
}

.srh_block .srh_comfire .submit_btn.on {
    color: #fff;
    background: #333;
    border-color: #333
}

.search_floor .srh_block .option_detail {
    width: 882px;
    position: absolute;
    left: -14px;
    top: 34px;
    z-index: 3;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-top: none;
    padding: 20px 14px 20px 72px;
    box-sizing: content-box;
    box-shadow: #ccc 0 2px 5px
}

.srh_block .option_detail ul li {
    width: 180px;
    height: 200px;
    overflow: hidden;
    display: inline
}

.srh_block .option_detail ul li a img {
    height: 200px;
    margin-left: -10px
}

.srh_block .option_detail ul li.opt_txt {
    width: 210px;
    height: 200px;
    margin-left: 20px;
    white-space: normal;
    color: #909090;
    margin-top: 30px;
    overflow: hidden;
    display: inline;
    line-height: 18px
}

.srh_block .option_detail .opt_txt .txt_p {
    text-indent: 2em
}

.srh_brand .brand_con .brand_type {
    width: 45px;
    color: #999;
    display: inline-block
}
.srh_option{
    width:900px;
}
.brand_ul{
    height:100px;
    overflow: auto;
}
.srh_brand .brand_con .srh_option ul li {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px
}

.srh_brand .brand_con .sear_cont ul li a, .srh_brand .brand_con .srh_option ul li a {
    padding: 0 3px 1px
}

.search_floor .srh_block .srh_option_more {
    width: 827px;
    height: auto;
    margin-bottom: 8px;
    padding-left: 15px
}

.srh_brand .brand_con .srh_option_more ul li {
    width: 170px;
    margin-right: 5px;
    line-height: 26px
}

.srh_brand .brand_search {
    padding: 5px 0 10px;
    position: relative;
    margin-left: 18px
}

.srh_brand .brand_search .s_icon {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;
    top: 3px;
    display: inline-block;
    vertical-align: top;
    background: url(/public/images/list/icon2.png) no-repeat;
    background-position: 0 0
}

.srh_brand .brand_search .input_brand {
    border: 1px solid #dbdbdb;
    outline: 0;
    height: 19px;
    line-height: 19px;
    vertical-align: middle;
    padding-left: 18px;
    display: inline-block
}

.srh_brand .brand_search .brand_abc {
    display: inline-block;
    padding-left: 5px;
    margin-top: 0;
    height: 20px;
    line-height: 20px
}

.srh_brand .brand_search .brand_abc .all_brand {
    font-weight: 700
}

.srh_brand .brand_search .brand_abc a {
    color: #666;
    padding: 0 5px
}

.srh_brand .brand_search .brand_abc a.on, .srh_brand .brand_search .brand_abc a:hover {
    color: #cc9952
}

.srh_brand .brand_scroll {
    height: 240px;
    overflow-y: auto;
    position: relative
}

.srh_price .price_range .price_input {
    text-align: center;
    border: 1px solid #dbdbdb;
    outline: 0;
    height: 19px;
    line-height: 19px;
    vertical-align: middle
}

.srh_price .price_range .price_btn {
    width: 52px;
    height: 20px;
    line-height: 17px;
    cursor: pointer;
    margin-left: 8px;
    display: inline-block;
    background: #f0f0f0;
    border: 1px solid #ececec;
    text-align: center;
    color: #666
}

.srh_price .srh_option {
    width: auto
}

.srh_price .srh_option ul li {
    margin-right: 20px
}

.search_floor .srh_more_block {
    width: 280px;
    height: 24px;
    line-height: 20px;
    position: relative;
    bottom: -24px;
    left: 50%;
    top: 0;
    margin-left: -140px;
    text-align: center;
    margin-bottom: 1px
}

.srh_more_block .toggle_btn {
    width: auto;
    display: inline-block;
    padding: 0 13px;
    height: 24px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-color: #fff;
    cursor: pointer;
    color: #999
}

.srh_more_block .toggle_btn .icon-a-wallet-down2, .srh_more_block .toggle_btn.on .icon-a-wallet-down1 {
    display: none
}

.srh_more_block .toggle_btn .icon-a-wallet-down1, .srh_more_block .toggle_btn.on .icon-a-wallet-down2 {
    display: inline-block
}

.srh_more_block .toggle_btn .icon-a-wallet-down1 {
    margin-bottom: -1px
}

.srh_more_block .toggle_btn .icon-a-wallet-down2 {
    margin-left: 3px
}

.search_floor .no_srh_result {
    width: 970px;
    padding-top: 20px;
    border-top: 1px solid #ddd
}

.search_floor .no_srh_result .no_box {
    height: 30px;
    line-height: 30px;
    background-color: #fff9ce
}

.search_floor .no_srh_result .icon-a-careful {
    display: inline-block;
    margin: 0 5px -2.5px 15px
}

.list_right_area .goods_floor {
    margin: 0 auto 25px;
    background: #fff
}

.list_right_area .goods_floor .sort_list {
    position: relative;
    border-bottom: 1px solid #eee
}

.list_right_area .goods_floor .stop_pages {
    line-height: 36px
}

.list_right_area .goods_floor .fixsort {
    position: fixed;
    width: 970px;
    background-color: #fff;
    top: 0;
    z-index: 2;
    box-shadow: #eee 0 2px 4px
}

.goods_floor .sort_list .sort_con01 {
    display: inline-block;
    vertical-align: top
}

.goods_floor .sort_con01 ul li {
    display: block;
    float: left;
    width: 80px;
    height: 36px;
    text-align: center
}

.goods_floor .sort_con01 a {
    position: relative;
    line-height: 34px;
    display: inline-block
}

.goods_floor .sort_con01 a:hover, .goods_floor .sort_con01 li.on a {
    color: #cc9952;
    font-weight: 700;
    border-bottom: 3px solid #cc9952
}

.goods_floor .sort_con01 a i {
    position: absolute;
    top: 8px;
    right: 10px
}

.goods_floor .sort_con02 {
    display: inline-block;
    margin-top: 8px;
    padding-left: 10px;
    border-left: 1px solid #ddd
}

.goods_floor .sort_con02 a {
    margin-left: 20px
}

.goods_floor .sort_con02 a.on, .goods_floor .sort_con02 a:hover {
    color: #333
}

.goods_floor .sort_con02 a .icon-d-selected {
    display: none
}

.goods_floor .sort_con02 a.on .icon-d-selected {
    display: block
}

.goods_floor .sort_con02 a.on .radio_def {
    border: none
}

.goods_floor .sort_con02 a .radio_def {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #ccc;
    border-radius: 20%;
    margin-bottom: -3px;
    margin-right: 4px;
    box-sizing: border-box
}

.goods_floor .stop_pages .p_pagesnum {
    margin-right: 10px;
    font-size: 14px;
    color: #999
}

.goods_floor .stop_pages .p_pagesnum i {
    font-size: 14px
}

.goods_floor .stop_pages a {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
    z-index: 0
}

.goods_floor .stop_pages a.unfouse {
    cursor: default
}

.goods_floor .stop_pages a i {
    position: absolute;
    top: 6px;
    left: 6px
}

.goods_floor .stop_pages .p_next.unfouse:hover .icon-a-arrow03-2, .goods_floor .stop_pages .p_pre.unfouse:hover .icon-a-arrow03-1, .goods_floor .stop_pages a i.icon-a-arrow03-1, .goods_floor .stop_pages a i.icon-a-arrow03-2 {
    display: none
}

.goods_floor .stop_pages .p_next:hover .icon-a-arrow03-2, .goods_floor .stop_pages .p_pre:hover .icon-a-arrow03-1 {
    display: block
}

.goods_floor .s_goods_list ul {
    margin-right: -8.6px
}

.goods_floor .s_goods_list ul li.sold_out .s_goods_img {
    opacity: .6
}

.goods_floor .s_goods_list ul li.sold_out .s_goods_name, .goods_floor .s_goods_list ul li.sold_out .s_price, .goods_floor .s_goods_list ul li.sold_out .s_price em, .goods_floor .s_goods_list ul li.sold_out .sale_tips {
    color: #999
}

.goods_floor .s_goods_list ul li.sold_out .sale_tags .sold_out_tag {
    background-color: #999 !important;
    color: #fff !important;
    border: 1px solid #999 !important
}

.goods_floor .s_goods_list ul li {
    position: relative;
    width: 236px;
    height: 450px;
    display: block;
    overflow: hidden;
    float: left;
    margin: 10px 8.6px 10px 0
}

.goods_floor .s_goods_list ul li .goods_ads_img {
    display: block;
    width: 204px;
    height: 400px;
    margin: 10px auto
}

.goods_floor .s_goods_list ul li .goods_ads_img img {
    height: 100%
}

.goods-code:hover {
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, .2)
}

.goods_floor .s_goods_list ul li .goods_hover {
    position: absolute;
    bottom: 10px;
    width: 204px;
    display: none;
    background: #fff
}

.goods_floor .s_goods_list ul li:hover .goods_hover {
    display: block
}

.goods_floor .s_goods_list ul li .s_goods_img {
    display: block;
    overflow: hidden;
    width: 220px;
    height: 275px;
    margin: 10px auto 5px auto;
    position: relative;
    text-align: center
}

.goods_floor .s_goods_list ul li .s_goods_img .yaofeng {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0
}

.goods_floor .s_goods_list ul li .s_goods_img .yaofeng img {
    width: 100%
}

.goods_floor .s_goods_list ul li .s_goods_img .yaofeng span {
    position: absolute;
    right: 17px;
    bottom: 7px;
    color: #fff;
    font-size: 12px;
    font-family: DIN-Bold
}

.goods_floor .s_goods_list ul li .s_goods_img .yaofeng span .yaofeng_price {
    font-size: 16px;
    font-family: DIN-Bold
}

.goods_floor .s_goods_list ul li .s_goods_img > img {
    width: auto;
    height: 275px;
    position: absolute;
    left: 50%;
    margin-left: -137.5px;
    background-color: #fff
}

.goods_floor .s_goods_list ul li .promotionTag {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 28px;
    top: 10px
}

.goods_floor .s_goods_list ul li .promotionTag .promotionTag img {
    width: 100%;
    height: auto
}

.goods_floor .s_goods_list .goods_txt {
    margin: 0 16px;
    padding-bottom: 20px;
    line-height: 18px
}

.goods_floor .s_goods_list .goods_txt .s_goods_name {
    height: 36px;
    line-height: 18px;
    margin-bottom: 8px;
    color: #666;
    overflow: hidden
}

.goods_floor .s_goods_list .goods_txt .sale_tips {
    color: #cc5252;
    margin-bottom: 8px
}

.goods_floor .s_goods_list .goods_txt .sale_tags span {
    display: inline-block;
    line-height: 16px;
    background-color: #cc5252;
    border: 1px solid #cc5252;
    color: #fff;
    padding: 0 7px;
    border-radius: 2px
}

.goods_floor .s_goods_list .goods_txt .sale_tags span:first-child {
    background: 0 0;
    border: 1px solid #cc9952;
    color: #cc9952
}

.goods_floor .s_goods_list .goods_txt .s_shop {
    display: block;
    margin-bottom: 7px
}

.goods_floor .s_goods_list .goods_txt .s_shop .icon-a-goods-store {
    display: inline-block;
    margin-right: 1px;
    margin-bottom: -3px
}

.goods_floor .s_goods_list .goods_txt .goods_hover a {
    display: block;
    float: left;
    border: 1px solid #eee;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    line-height: 28px;
    color: #333
}

.goods_floor .s_goods_list .goods_txt .goods_hover .already_keep {
    color: #999
}

.goods_floor .s_goods_list .goods_txt .goods_hover .add_to_cart, .goods_floor .s_goods_list .goods_txt .goods_hover .goods_to_kf {
    color: #cc5252;
    margin-left: -1px
}

.goods_floor .s_goods_list .goods_txt .tPrc {
    overflow: hidden;
    margin-bottom: 10px
}

.goods_floor .s_goods_list .goods_txt .tPrc del {
    color: #ccc;
    font-family: DIN-Bold;
    margin-left: 5px
}

.goods_floor .s_goods_list .goods_txt .tPrc .month_tag {
    position: relative;
    top: -2px;
    display: inline-block;
    padding: 0 2px;
    background: linear-gradient(270deg, #ff8080 0, #e65c5c 100%);
    border-radius: 2px;
    color: #fff
}

.goods_floor .s_goods_list .goods_txt .fenqi_price {
    margin-right: 10px;
    color: #e65c5c;
    font-size: 16px;
    font-family: DIN-Bold
}

.goods_floor .s_goods_list .goods_txt .fenqi_price em {
    font-size: 16px;
    font-weight: 700
}

.goods_floor .s_goods_list .goods_txt .s_price, .goods_floor .s_goods_list .goods_txt .s_price em {
    position: relative;
    color: #666;
    font-size: 16px;
    font-family: DIN-Bold;
    font-weight: 400
}

.goods_floor .s_goods_list .goods_txt .sg_price, .goods_floor .s_goods_list .goods_txt .sg_price em {
    color: #cc5252
}

.goods_floor .s_goods_list .goods_txt .s_price::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -7px;
    width: 1px;
    height: 12px;
    background: #ddd
}

.goods_floor .s_goods_list .goods_txt .goods_sale {
    margin-bottom: 4px;
    color: #999
}

.goods_floor .s_goods_list .goods_txt .s_shop {
    color: #999
}

.W_main .list_page {
    text-align: center;
    padding: 30px 0 40px
}

.W_main .list_page a, .W_main .list_page span {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #999;
    margin-left: 8px;
    border-radius: 50%;
    border: 1px solid #fff
}

.W_main .list_page span.active {
    border: 1px solid #666;
    background-color: #666;
    color: #fff
}

.W_main .list_page span.active:hover {
    background-color: #ccaa7a;
    border: 1px solid #ccaa7a
}

.W_main .list_page a:hover {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1
}

.W_main .list_page .icon-a-l-arrow01, .W_main .list_page .icon-a-r-arrow01 {
    text-indent: -999em
}

.wb_sell_floor {
    background: #fff;
    margin: 30px 0;
    padding: 10px 0
}

.wb_sell_floor .sell_goods .sell_tit {
    font-weight: 700;
    color: #b01330;
    padding: 15px 20px;
    font-size: 15px
}

.wb_sell_floor .sell_goods ul li {
    display: block;
    overflow: hidden;
    width: 200px;
    margin: 0 21.25px 20px 21.25px
}

.wb_sell_floor .sell_goods ul li a {
    color: #333;
    display: block;
    line-height: 20px
}

.wb_sell_floor .sell_goods a .goods_adpic {
    text-align: center;
    height: 260px;
    overflow: hidden
}

.wb_sell_floor .sell_goods a .goods_adpic img {
    width: 100%;
    display: inline-block
}

.wb_sell_floor .sell_goods a .recom_goods_name {
    margin-top: 12px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.wb_sell_floor .sell_goods a .recom_price b {
    color: #b01330;
    padding-right: 5px;
    font-size: 14px
}

.wb_sell_floor .sell_goods a .recom_price del {
    color: #979797
}

.wb_sell_floor .sell_goods a .recom_price .goods_dis {
    color: #999
}

.wb_sell_floor .bx-wrapper {
    position: relative;
    width: 930px;
    margin: 10px auto 20px;
    overflow: hidden
}

.wb_sell_floor .sell_slider img {
    width: 100%
}

.wb_sell_floor .bx-pager {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 51
}

.wb_sell_floor .bx-pager .bx-pager-item a {
    position: relative;
    display: block;
    border: 1px solid #fff;
    width: 25px;
    height: 13px;
    margin: 0 5px;
    opacity: .4;
    font-size: 0
}

.wb_sell_floor .bx-pager .bx-pager-item a:before {
    content: ".";
    display: block;
    position: absolute;
    left: 1px;
    top: 1px;
    width: 23px;
    height: 11px;
    background-color: #fff
}

.wb_sell_floor .bx-pager .bx-pager-item a.active {
    opacity: .8
}

.wb_sell_floor .brand_intro {
    width: 890px;
    margin: 0 auto;
    border: 1px solid #d4d4d4;
    padding: 15px 20px;
    line-height: 20px;
    color: #959595;
    text-indent: 2em
}

.wb_sell_floor .brand_intro a {
    font-weight: 700
}

.wb_words_floor {
    margin-bottom: 50px;
    background: #fff
}

.wb_words_floor .works_link {
    padding: 22px 12px 0;
    color: #666
}

.wb_words_floor .works_link .wort_tit {
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #eee
}

.wb_words_floor .works_link .wort_tit a {
    line-height: 12px
}

.wb_words_floor .works_link ul {
    height: 26px;
    overflow: hidden
}

.wb_words_floor .works_link ul li {
    display: block;
    float: left;
    margin-right: 15px;
    margin-bottom: 8px
}

.wb_words_floor .works_link ul li a {
    color: #999
}

.wb_words_floor .works_link ul li a:hover {
    color: #b01330
}

.wb_news_floor .new_tit {
    margin-right: 10px;
    font-size: 12px;
    line-height: 18px;
    color: #aaa
}

.wb_news_floor .booking_now {
    width: 900px;
    overflow: hidden;
    white-space: nowrap
}

.wb_news_floor .booking_now span {
    margin-right: 20px;
    font-size: 12px;
    color: #aaa;
    line-height: 18px
}

.diameter {
    position: relative
}

.diameter .diameter_input {
    outline: 0;
    border: 1px solid #aaa;
    width: 80px;
    height: 20px
}

.diameter .diameter_button {
    display: inline-block;
    width: 40px;
    height: 20px;
    background: #f0f0f0;
    text-align: center;
    line-height: 1.8;
    cursor: pointer
}

.diameter p {
    position: absolute;
    top: 19px;
    color: red;
    display: none
}

.layui-layer.Wb_confirm_780 .boutiques-wrap {
    text-align: center
}