* {
    font-family: Helvetica,Tahoma,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei",STXihei,STHeiti,Heiti,SimSun,sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.W_pt_head {
    height: 100px;
}

.W_pt_head {
    width: 100%;
    height: 115px;
    min-width: 990px;
}
.W_pt_head .head_wrap {
    width: 1200px;
    margin: 0 auto;
}
.W_pt_head .head_wrap .head_left {
    width: auto;
}
.W_pt_head .head_wrap .head_left {
    width: 404px;
    position: relative;
    display: inline;
}
.W_pt_head .head_left .wb_logo {
    width: 112px;
    margin: 8px 33px 12px 45px;
}
.W_pt_head .head_left .wb_logo {
    width: 121px;
    font-size: 0;
    margin-top: 18px;
    display: inline;
}
.W_pt_head .head_left .wb_logo a {
    display: block;
}
a {
    text-decoration: none;
    color: #666;
    line-height: 1.5;
    cursor: pointer;
}
.W_pt_head .head_left .wb_shop_msg {
    position: relative;
    display: block;
    margin-top: 25px;
}
.W_pt_head .head_left .wb_shop_msg .sp_logo {
    position: relative;
    width: 48px;
    height: 48px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: block;
    overflow: hidden;
}
.h {
    display: none !important;
}
.W_pt_head .head_left .wb_shop_msg .sp_logo img {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.W_pt_head .head_left .wb_shop_msg .sp_txt {
    margin-top: 5px;
    margin-left: 17px;
}
.W_pt_head .head_left .wb_shop_msg .sp_name {
    display: inline-block;
    font-size: 16px;
    color: #666;
    font-weight: 700;
}
.W_pt_head .head_left .wb_shop_msg .shop_add {
    width: 40px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    background: #cc5252;
    border-radius: 100px;
    display: inline-block;
    margin-left: 8px;
    vertical-align: text-top;
    margin-top: -3px;
}
.W_pt_head .head_left .wb_shop_msg .sp_sales {
    font-size: 12px;
    color: #999;
    line-height: 16px;
}
em, i {
    font-style: normal;
}
.W_pt_head .head_wrap .head_right {
    margin-top: 30px;
    float: right;
}
.W_pt_head .head_wrap .head_right {
    margin-top: 37.5px;
}
.W_pt_head .head_right .head_shop_search {
    position: relative;
    width: 346px;
    height: 36px;
    border: 1px solid #ca5650;
    border-radius: 100px;
    margin-right: 10px;
}
.W_pt_head .head_shop_search .srh_lab {
    width: 224px;
    height: 36px;
    line-height: 36px;
    display: block;
    color: #999;
    font-size: 14px;
}
.W_pt_head .head_shop_search .srh_ipt_txt {
    position: absolute;
    left: 18px;
    color: #ccc;
    width: 206px;
    z-index: 1;
    line-height: 36px;
}
.W_pt_head .head_shop_search .srh_ipt_new {
    width: 209px;
    height: 36px;
    line-height: 36px;
    padding-left: 15px;
    border: 0;
    display: block;
    color: #333;
    font-size: 14px;
    border-radius: 100px 0 0 100px;
    background: rgba(255,255,255,0);
    position: relative;
    z-index: 10;
}
.W_pt_head .head_shop_search .srh_wbiao {
    right: 59px;
    top: -1px;
    height: 38px;
    background: #cb5451;
    border-radius: unset;
}
.W_pt_head .head_shop_search .srh_btn {
    width: 60px;
    line-height: 36px;
    cursor: pointer;
    position: absolute;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 12px;
}
.W_pt_head .head_shop_search .srh_shop {
    right: -1px;
    top: -1px;
    height: 38px;
    border-radius: 0 100px 100px 0;
    background: #666;
}
.clear {
    clear: both;
}

/*导航栏开始*/
.pt-shop_sign {
    position: relative;
    width: 100%;
    height: 120px;
    background: #333 url(/Images/f5a36a7e81a82cc49d68c8638e470ab.png) no-repeat center center;
}
.pt-shop_nav {
    width: 100%;
    height: 44px;
    background-color: #222;
}
.pt-shop_nav ul {
    position: relative;
    width: 1200px;
    height: 44px;
    overflow: hidden;
    margin: 0 auto;
}
.pt-shop_nav li {
    display: block;
    float: left;
    margin-left: 50px;
    text-align: center;
}
.pt-shop_nav li a {
    display: inline-block;
    line-height: 41px;
    font-size: 14px;
    color: #ccc;
    font-weight: 400;
}
.pt-shop_nav a {
    color: #f1f7f8;
}
.shop_list_wrap .left_store_floor {
    width: 210px;
}

.left_store_floor .store_line {
    border: 1px solid #eee;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.left_store_floor h2 {
    background: #eee;
    font-size: 14px;
    height: 44px;
    color: #666;
    padding-left: 12px;
    line-height: 40px;
}
.left_store_floor .search_condition {
    padding: 20px 0;
}
.left_store_floor .search_condition .input_txt {
    margin-bottom: 12px;
}
.left_store_floor .search_condition .input_txt span {
    width: 58px;
    display: inline-block;
    float: left;
    line-height: 28px;
    color: #666;
    text-align: right;
    margin-right: 12px;
}
.left_store_floor .search_condition .input_txt .key_word {
    width: 122px;
    padding: 0 8px;
}
.left_store_floor .search_condition .input_txt input {
    border: 1px solid #ddd;
    height: 28px;
    color: #333;
    float: left;
    box-sizing: border-box;
}
.left_store_floor .search_condition .input_txt {
    margin-bottom: 12px;
}
.left_store_floor .search_condition .input_txt span {
    width: 58px;
    display: inline-block;
    float: left;
    line-height: 28px;
    color: #666;
    text-align: right;
    margin-right: 12px;
}
.left_store_floor .search_condition .input_txt .price_range {
    width: 48px;
    text-align: center;
}
.left_store_floor .search_condition .input_txt input {
    border: 1px solid #ddd;
    height: 28px;
    color: #333;
    float: left;
    box-sizing: border-box;
}
.left_store_floor .search_condition .input_txt em {
    line-height: 28px;
    color: #999;
    float: left;
    margin: 0 10px;
}
em, i {
    font-style: normal;
}
.left_store_floor .search_condition .input_txt .price_range {
    width: 48px;
    text-align: center;
}
.left_store_floor .search_condition .input_txt input {
    border: 1px solid #ddd;
    height: 28px;
    color: #333;
    float: left;
    box-sizing: border-box;
}
.left_store_floor .search_condition .search_btn {
    display: block;
    width: 68px;
    line-height: 28px;
    background: #cc5252;
    text-align: center;
    color: #fff;
    margin-left: 70px;
}

.left_store_floor .store_line {
    border: 1px solid #eee;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.left_store_floor h2 {
    background: #eee;
    font-size: 14px;
    color: #666;
    padding-left: 12px;
    line-height: 40px;
}
.left_store_floor .store_line .store_goods_sort {
    padding-bottom: 10px;
}
.left_store_floor .store_line .goods_sort_list h3 {
    line-height: 40px;
    font-size: 12px;
    color: #666;
}
.left_store_floor .store_line .goods_sort_list h3 .show_hide {
    width: 26px;
    height: 16px;
    display: inline-block;
}
.left_store_floor .store_line .goods_sort_list .show_hide em {
    display: inline-block;
    margin: 0 4px -3px 6px;
    cursor: pointer;
}
.icon-a-list-show {
    display: block;
    background-image: url(../../Images/logo/brandLogo.png);
    background-position: -384px -504px;
    background-size: 589px;
    width: 16px;
    height: 16px;
}
.icon-a-list-hide {
    display: block;
    background-image: url(../../Images/logo/brandLogo.png);
    background-position: -124px -504px;
    background-size: 589px;
    width: 16px;
    height: 16px;
}
.h {
    display: none !important;
}

.left_store_floor .store_line .goods_sort_list .second_menu a {
    display: block;
    overflow: hidden;
    line-height: 32px;
    height: 28px;
    color: #666;
}
.left_store_floor .store_line .goods_sort_list .second_menu a i {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 8px 3px 20px;
}

.left_store_floor{
    width:100%;
}
.position{
    padding-left: 220px;
}

.show_area .sa_top dd a i.p_all {
    background-position: -68px -4px
}

.show_area .sa_top dd a i.p_up {
    background-position: -4px -4px;
}

.show_area .sa_top dd a i.p_down {
    background-position: -35px -4px
}
.jiagesAHover{
    border-bottom: 3px solid #cc5252;
}
.pt-shop_nav li {
    display: inline-block;
    line-height: 41px;
    font-size: 14px;
    color: #ccc;
    font-weight: 400;
}
