.conditions{
    display: inline-block;
    height: 22px;
    line-height: 22px;
    border: 1px solid #dfdfdf;
    padding: 0 3px;
    margin-left: 5px;
    color: #313131;
    box-sizing: border-box;
}
.conditions b{
    color: #333;
}
.conditions b em{
    display: inline-block;
    margin-left: 5px;
}
.search_floor{
    border: 1px solid #eee;
}
.icon-a-close03 {
    color: red;
    display: block;
    width: 7px;
    height: 7px;
}
i.p_all {
    background-position: -68px -4px!important;

}
.paixu_style{
    border-bottom: 3px solid rgb(204, 82, 82)!important;
}
.sa_top dd a i {
    width: 8px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    background: url(images/ico_price.gif) 999px 999px no-repeat;
}
i.p_up {
    background-position: -4px -4px!important;
}
.goods_txt{
    margin-top: 20px;
}
i.p_down {
    background-position: -35px -4px!important;
}