@charset "utf-8";
.lower_right_content {
    width: 920px;
    margin: 0 auto;
}
.evaluate {
    width: 920px;
    display: block;
    margin-top: 40px;
}
.evaluate .evaluate_score .evaluate_score_a {
    padding-left: 12px;
    cursor: pointer;
}
.evaluate .evaluate_score .evaluate_score_b {
    margin-left: 25px;
    margin-top: 6px;
    cursor: pointer;
}
.evaluate .evaluate_score .evaluate_score_b .action {
    border: 1px solid #ccaa7a!important;
    color: #ccaa7a!important;
}
.evaluate .evaluate_score .evaluate_score_b .evaluate_score_b_b {
    width: 83px;
    height: 36px;
    border: 1px solid #ccc;
    color: #666;
    border-radius: 100px;
    line-height: 36px;
    text-align: center;
}
.evaluate .evaluate_score {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.evaluate .evaluate_content {
    width: 100%;
    display: block;
}
.evaluate .evaluate_content .left {
    width: 108px;
    padding-top: 11px;
}
.evaluate .evaluate_content .right {
    width: 774px;
    padding: 10px 20px 50px 18px;
}
.evaluate .evaluate_content .right .right_star span {
    margin-right: 5px;
}
.evaluate .evaluate_content .right .right_grade {
    border-radius: 2px;
    padding: 0 4px;
    line-height: 16px;
    font-size: 10px;
    color: #fff;
    margin-left: 5px;
}
.evaluate .evaluate_content .right>.right_pinyu {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    line-height: 24px;
}
.evaluate .evaluate_content .left>.left_logo {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}
.evaluate .evaluate_content .left>.left_logo img {
    width: 1%;
    border-radius: 2px;
    height: 2px;
}
.video_img_box .video_box {
    position: relative;
    height: 108px;
    cursor: pointer;
}
.video_img_box img {
    border: 1px solid #ddd;
}
.evaluate .evaluate_score {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.evaluate .evaluate_content .right>.right_kefu {
    margin-top: 18px;
    line-height: 24px;
}
.evaluate .evaluate_content .right>.right_kefu_time {
    margin-top: 6px;
    font-size: 12px;
    color: #999;
    line-height: 14px;
}



