@charset "utf-8";
/* CSS Document */
/*清除浮动*/
.clearfix:after {
	visibility: hidden;
	display: block;
	content: ".";
	clear: both;
	height: 0;
}
/*.clearfix {*/
	/*clear: both;*/
/*}*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
* html>body .clearfix {
	display: inline-block;
	width: 100%;
}
* html .clearfix {
	height: 1%;/* End hide from IE-mac*/
}
*+html .clearfix {
	min-height: 1%;
}
.map {
	margin: 0;
	padding: 10px 0;
	width: 1225px;
	height: auto;
}
.map_info {
	float: left;
	padding: 10px 0 0 0;
	margin: 10px 0;
	font-size: 12px;
	width: 100%;
	color: #999
}

.map_info a {
	color: #999
}
.banner_2 {
	width: 1225px;
	height: auto;
	margin: 0 auto;
}
.shop_info1 {
	width: 1255px;
	height: auto;
	margin-top: 28px;
	background: #f9f9f9;
}
.shop_info1_img {
	float: left;
	height:520px;
	border:#CCC solid 1px;
}
.imgs {
	overflow: hidden;
}
.imgs_list {
	width: auto;
	height: 55px;
	margin-top: 30px;
	overflow: hidden;
}
.imgs_list li {
	float: left;
	width: 55px;
	border: #CCC solid 1px;
	overflow: hidden;
	margin-right: 10px;
}


.promise {
	margin-top: 20px;
	margin-left: -10px;
	position: relative
}
.promise .right li .on {
	color: #cc9166;
}
.promise .right .popup{
	box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
    background: #fff;
    border-radius: 4px;
    padding: 16px;
    line-height: 18px;
    position: absolute;
    left: 23px;
    top: 23px;
    max-width: 300px;
    width: -moz-max-content;
    width: max-content;
    z-index: 100;
    display: none;
}
.promise .left{
	
	    width: 36px;
    line-height: 16px;
    color: #999;
    font-size: 12px;
    text-align: right;
}
.promise .right li i{
	width: 4px;
    height: 4px;
    border-radius: 4px;
    background: #ccaa7a;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
    margin-bottom: 4px;
}
.promise .right li{
	font-size: 12px;
    color: #666;
    line-height: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}
.promise .right{
	    margin-left: 52px;
    color: #666;
    font-size: 12px;
    line-height: 16px;
    width: 560px;
}
.left-pro .t1 {
	/*width: 400px;*/
	/*height:90px;*/
	overflow:hidden;
}
.left-pro .t2 {
	padding:10px;
}
.left-pro .t2 img {
	text-indent: 0;
}
#showArea img {
	cursor: pointer;
	display: block;
	margin-bottom: 5px;
	width: 68px;
	padding: 1px;
	border: 1px solid #ccc;
	height: 68px;
	float: left
}
#main_img {
	cursor: pointer;
	display: block
}
#gotop {
	cursor: pointer;
	display: block;
	margin-left: 9px
}
#gobottom {
	cursor: pointer;
	display: block;
	margin-left: 9px
}
#showArea {
	/*height: 70px;*/
	/*width:400px;*/
	margin: 10px;
	overflow: hidden
}

.shop_info1_tit {
	float: right;
	width:791px;
	height:520px;
	margin-bottom:20px;
}
.text_life {
	float:left;
	padding-left:10px;
}
.shop_tit {
	margin-top:10px;
	display:block;
font-weight: bold;
font-size: 16px;
line-height: 20px;
margin-bottom: 6px;
}
.text_life .mc {
display: block;
padding-top:10px;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #b01330;
margin-bottom: 18px;
}
.text_life .mc a{
	font-size:12px;
	color:#CCC;
	}
.fuqi {
	font-size: 14px;
	color: #666;
	line-height: 30px;
	margin-left: 15px;
	width: 100%;
	height: 30px;
	display: inline-block;
	vertical-align: top;
}
.fq1 {
	padding-right:45px;
}
.fuqi a {
padding:10px 0;
margin-left: 66px;
text-decoration: underline;
color: #900;
}
.peisong {
padding:10px 0;
color: #666;
display: inline-block;
vertical-align: top;
}
.xian {
	width:auto;
	height:1px;
	background:#CCC;
}

.yanse {
	height: 22px;
	padding-top: 5px;
}
.yanse .ys1{
vertical-align: top;
}
.shuliang {
color: #666;
display: inline-block;
vertical-align: top;
	width:654px;
}
.shuliang>span:nth-of-type(2){
	width:90px;
}
.shuliang>span:nth-of-type(2)>input{

	text-align:center;
}
.shuliang>span:nth-of-type(2)>a{

	display: inline-block;
	border: 1px solid;
	width: 20px;
	text-align: center;
}

.goumai a{

	line-height: 48px;
}
#buy{
	color: white;
}
.goumai>div:nth-of-type(1){

	background-color: #cc5252;
	border: 1px solid rgba(174, 162, 162, 1);
	margin-left: 10px;
}

.goumai>div:nth-of-type(1):hover{
	background-image: linear-gradient(90deg,#cc5252 3%,#b32424 100%);
}
.goumai>div:nth-of-type(2){
	border: 1px solid rgba(174, 162, 162, 1);
	color: #999;
	margin-left: 25px;
}
.goumai{
	width: 670px;
	height: 46px;
	margin-top: 30px;
	color: white;
}
.goumai>div{
	font-weight: 700;
	font-size: 14px;
	color: #fff;
	text-align: center;
	width: 180px;
	height: 44px;
	cursor: pointer;
}
.upper_style_right a {
	height: 52px;
	padding: 2px 10px 2px 6px;
	/*border: 2px solid #ddd;*/
	margin-right: 10px;
	margin-bottom: 10px;
	display: block;
	position: relative;
	color: #666;
}
 .upper_style_right img {
	height: 50px!important;
	width: auto!important;
}
.upper_style_right_text {
	font-size: 14px;
	color: #333;
	line-height: 58px;
	margin-left: 10px;
	max-width: 200px;
	height: 52px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.upper_style_right {
	margin-left: 16px;
	width: 625px;
}
.upper_price_jiage {
	margin-left: 16px;
	position: relative;
}
.upper_price_jiage .upper_price_jiage_left {
	width: 60px;
	color: #999;
	font-size: 14px;
	position: absolute;
	line-height: 24px;
}
.upper_price_jiage .upper_price_jiage_right {
	margin: 2px 0;
	margin-left: 100px;
	position: relative;
}
.upper_price_jiage .upper_price_jiage_right>.upper_price_jiage_a {
	position: relative;
	right: -2px;
	font-weight: 700;
	font-size: 14px;
	color: #e65c5c;
}
.upper_price_jiage .upper_price_jiage_right>.upper_price_jiage_b {
	font-size: 14px;
	font-weight: 700;
	color: #e65c5c;
	margin-left: -2px;
	margin-right: 2px;
	font-family: DIN;
}
.upper_price_jiage .upper_price_jiage_right span {
	color: #999;
}
.evaluate {
	width: 920px;
	display: block;
	margin-top: 40px;
}
.evaluate .evaluate_title {
	height: 40px;
	background: #f7f7f7;
	font-size: 14px;
	color: #666;
	padding-left: 12px;
	line-height: 40px;
	font-weight: 700;
}
.evaluate .evaluate_score {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.evaluate .evaluate_score .evaluate_score_a {
	padding-left: 12px;
	cursor: pointer;
}
.evaluate .evaluate_score .evaluate_score_a .evaluate_score_a_a {
	font-size: 48px;
	color: #ccaa7a;
}
.evaluate .evaluate_score .evaluate_score_a .evaluate_score_a_b {
	margin-left: 2px;
	font-size: 12px;
	color: #ccaa7a;
	line-height: 16px;
	margin-top: 3px;
}
.evaluate .evaluate_score .evaluate_score_a .evaluate_score_a_b .evaluate_score_a_b_a {
	font-size: 18px;
	line-height: 30px;
}
.evaluate .evaluate_score .evaluate_score_b {
	margin-left: 25px;
	margin-top: 6px;
	cursor: pointer;
}
.evaluate .evaluate_score .evaluate_score_b .action {
	border: 1px solid #ccaa7a!important;
	color: #ccaa7a!important;
}
.evaluate .evaluate_score .evaluate_score_b .evaluate_score_b_a {
	width: 121px;
	height: 36px;
	border: 1px solid #ccc;
	color: #666;
	border-radius: 100px;
	line-height: 36px;
	text-align: center;
	margin-right: 20px;
}
.evaluate .evaluate_score .evaluate_score_b .evaluate_score_b_b {
	width: 83px;
	height: 36px;
	border: 1px solid #ccc;
	color: #666;
	border-radius: 100px;
	line-height: 36px;
	text-align: center;
}
.evaluate .evaluate_content {
	width: 100%;
	display: block;
}
.evaluate .evaluate_content .tab_evaluate:nth-child(1) {
	display: block;
}
.evaluate .evaluate_content .tab_evaluate {
	display: none;
}
.evaluate .evaluate_content .left {
	width: 108px;
	padding-top: 11px;
}
.evaluate .evaluate_content .left>.left_logo {
	width: 48px;
	height: 48px;
	border-radius: 48px;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}
.evaluate .evaluate_content .left>.left_logo img {
	width: 100%;
	border-radius: 48px;
	height: 48px;
}
.W_main img {
	border: 0;
	display: block;
}
.evaluate .evaluate_content .left>.left_name {
	font-size: 12px;
	color: #666;
	text-align: center;
	margin-top: 9px;
	line-height: 22px;
	word-break: break-all;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.W_detail>.detail_lower>.lower_right .lower_right_content .evaluate .evaluate_content .right {
	width: 774px;
	padding: 10px 20px 50px 18px;
}
.evaluate .evaluate_content .right .right_star span {
	margin-right: 5px;
}
.evaluate .evaluate_content .right .right_grade {
	border-radius: 2px;
	padding: 0 4px;
	line-height: 16px;
	font-size: 10px;
	color: #fff;
	margin-left: 5px;
}
.evaluate .evaluate_content .right>.right_pinyu {
	margin-top: 10px;
	font-size: 14px;
	color: #666;
	line-height: 24px;
}
.video_img_box .video_box {
	position: relative;
	height: 108px;
	cursor: pointer;
}
.video_img_box .video_box span {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 40px;
	height: 40px;
	margin-left: -20px;
	margin-top: -20px;
	/*background: url(//mystatic.wbiao.co/p/pc/images/goods/video.png) no-repeat center center;*/
	background-size: 100%;
}
.video_img_box img {
	border: 1px solid #ddd;
}
.video_img_box a {
	margin-left: 10px;
	margin-bottom: 10px;
}
.right_time,.right_kefu{
	margin-left: 100px;
}
.right_time {
	margin-top: 4px;
	font-size: 12px;
	color: #999;
	line-height: 16px;
}
.right_time span {
	margin-right: 5px;
}
.right_kefu {
	margin-top: 18px;
	line-height: 24px;
}
.right_kefu_a {
	font-size: 12px;
	color: #cc5252;
	font-weight: 700;
}
.right_kefu_b {
	font-size: 12px;
	color: #666;
}
.right_kefu_time {
	margin-top: 6px;
	font-size: 12px;
	color: #999;
	line-height: 14px;
}
.evaluate .evaluate_pag {
	text-align: center;
	position: relative;
	width: 330px;
	margin: 50px auto;
	margin-bottom: 50px;
	cursor: pointer;
}
.center {
	position: absolute;
	width: 200px;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.evaluate .evaluate_pag .center span {
	width: 28px;
	height: 28px;
	margin-right: 8px;
	font-size: 14px;
	color: #999;
	line-height: 28px;
	display: inline-block;
}
.evaluate .evaluate_pag .red {
	background: #cc5252!important;
	border-radius: 28px;
	color: #fff!important;
}
.evaluate .evaluate_pag .center a {
	width: 28px;
	height: 28px;
	margin-right: 8px;
	font-size: 14px;
	color: #999;
	line-height: 28px;
	display: inline-block;
}
.evaluate .evaluate_pag .center a {
	width: 28px;
	height: 28px;
	margin-right: 8px;
	font-size: 14px;
	color: #999;
	line-height: 28px;
	display: inline-block;
}
.evaluate .evaluate_pag .center a {
	width: 28px;
	height: 28px;
	margin-right: 8px;
	font-size: 14px;
	color: #999;
	line-height: 28px;
	display: inline-block;
}

.evaluate .evaluate_pag .center span {
	width: 28px;
	height: 28px;
	margin-right: 8px;
	font-size: 14px;
	color: #999;
	line-height: 28px;
	display: inline-block;
}
.js_star{
	width: 810px;
}
.image_detail{
	display: inline-block;
	width: 20%;
	height: 80px;
}
.upper_style_right{
	width: 97%;
	height: 200px;
	overflow: hidden;
}
.tab_content{
	display: none;
}
.ul_parameter li{
	width: 22.4%;
}