<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfkj.mapper.commodity.TbWatchsMapper">
    <sql id="Tb_Watchs_list_2">
        SELECT
        w.`watch_id`,w.`watch_name`,w.series_id,w.`special_offer`,w.`so_price`,w.watch_grade_id,w.examine_status,w.status,w.`watch_descript`
		,w.`watch_price`,w.`watch_image`,date_format(w.`watch_date`,'%Y-%m-%d %H:%i:%s') watch_date,
		w.`watch_sell_count`,w.brand_id wbrandId,w.watch_type_id,
		g.`grade_name`,
		b.`brand_name`,b.`b_logo`,b.`brand_code`,
		t.`type_name`,
		ct.`c_name` ctname,
		wp.`watch_id` p_watch_id,
		`parameter_id`,`w_case`,`shell_color`,`color`,`style`,`listing_date`,`movement_type_no`,`movement_type`,`thickness`,`crown`,`band_material`,`special_functions`,`parameter_name`,`width`,`watch_ear`,`specular_shading`,`waterproof`
		FROM `tb_watchs` w
		LEFT JOIN `watch_brand` b ON b.`brand_id` = w.`brand_id`
		LEFT JOIN `watch_grade` g ON w.`watch_grade_id` = g.`grade_id`
		LEFT JOIN `watch_type` t ON w.`watch_type_id` = t.`type_id`
		LEFT JOIN `country` ct ON ct.`c_id` = b.`country_id`
		LEFT JOIN watch_parameter wp ON wp.`watch_id`=w.`watch_id`
		WHERE 1=1
    </sql>
    <resultMap id="tbwatchs" type="com.xfkj.entity.commodity.TbWatchs" >
        <id column="watch_id" property="watchId"/>
        <result column="watch_name" property="watchName"/>
        <result column="watch_descript" property="watchDescript"/>
        <result column="watch_price" property="watchPrice"/>
        <result column="watch_image" property="watchImage"/>
        <result column="watch_date" property="watchDate"/>
        <result column="watch_sell_count" property="watchSellCount"/>
        <result column="special_offer" property="specialOffer"/>
        <result column="so_price" property="soPrice"/>
        <result column="examine_status" property="examineStatus"/>
        <result column="status" property="status"/>
        <result column="series_id" property="seriesId"/>
        <result column="wbrandId" property="brandId"/>
        <!--映射品牌表-->
        <association property="watchBrand" javaType="com.xfkj.pojo.vo.brand.WatchBrandVo">
            <id column="wbrandId" property="brandId"/>
            <result column="brand_name" property="brandName" />
            <result column="b_logo" property="bLogo" />
            <result column="brand_code" property="brandCode" />
            <association property="country" javaType="com.xfkj.pojo.vo.brand.CountryVo">
                <result column="ctname" property="cName" />
            </association>

        </association>
        <!--映射性别分类表-->
        <association property="watchGrade" javaType="com.xfkj.entity.commodity.WatchGrade">
            <id column="watch_grade_id" property="gradeId"/>
            <result column="grade_name" property="gradeName"/>
        </association>
        <!--映射档次表-->
        <association property="watchType" javaType="com.xfkj.entity.commodity.WatchType">
            <id column="watch_type_id" property="typeId"/>
            <result column="type_name" property="typeName"/>
        </association>
        <!--映射手表参数表-->
        <association property="watchParameter" javaType="com.xfkj.entity.commodity.WatchParameter">
            <id column="parameter_id" property="parameterId"/>
            <result column="p_watch_id" property="watchId"/>
            <result column="w_case" property="wCase"/>
            <result column="shell_color" property="shellColor"/>
            <result column="color" property="color"/>
            <result column="style" property="style"/>
            <result column="listing_date" property="listingDate"/>
            <result column="movement_type_no" property="movementTypeNo"/>
            <result column="movement_type" property="movementType"/>
            <result column="thickness" property="thickness"/>
            <result column="crown" property="crown"/>
            <result column="band_material" property="bandMaterial"/>
            <result column="special_functions" property="specialFunctions"/>
            <result column="parameter_name" property="parameterName"/>
            <result column="width" property="width"/>
            <result column="watch_ear" property="watchEar"/>
            <result column="specular_shading" property="specularShading"/>
            <result column="waterproof" property="waterproof"/>
        </association>

    </resultMap>
    <!-- _parameter代替 brand_id 参数 -->
    <select id="findWatchByDate" parameterType="java.lang.Integer" resultMap="tbwatchs">
        <include refid="Tb_Watchs_list_2"></include>
        <if test="_parameter != null">
             and w.`brand_id` = #{_parameter}
        </if>
        order by w.`watch_date` asc
    </select>
    <!--通过品牌id查询该品牌热销手表信息-->
    <select id="findSellWellTbWatchsByBrandId" resultMap="tbwatchs">
      <include refid="Tb_Watchs_list_2"></include>
          AND w.brand_id = #{brandId}
          ORDER BY w.`watch_sell_count` DESC  LIMIT 0,5
    </select>
    <!-- _parameter代替 brand_name 参数  parameterType="java.lang.String"-->
    <select id="findWatchByBrandId" parameterType="java.lang.String" resultMap="tbwatchs">
        <include refid="Tb_Watchs_list_2"></include>
        <if test="_parameter != null and _parameter!=0">
            AND w.`brand_id`= #{_parameter}
        </if>
        ORDER BY w.`watch_sell_count` DESC
    </select>
    <select id="findWatchByParam" resultMap="tbwatchs">
        <include refid="Tb_Watchs_list_2"></include> ${ew.customSqlSegment}
<!--        <if test="param.brand_id!= null">-->
<!--            AND w.`brand_id`= #{param.brand_id}-->
<!--        </if>-->
<!--        <if test="param.watch_grade_id!= null">-->
<!--            AND w.`watch_grade_id`= #{param.watch_grade_id}-->
<!--        </if>-->
<!--        <if test="param.watch_type_id!= null">-->
<!--            AND w.`watch_type_id`= #{param.watch_type_id}-->
<!--        </if>-->
<!--        <if test="param.watch_name!= null and param.watch_name!=''">-->
<!--            AND w.`watch_name`like CONCAT('%',#{param.watch_name},'%');-->
<!--        </if>-->
<!--        <if test="param.price_range_min!=0 and param.price_range_max!=0">-->
<!--            and w.`so_price` BETWEEN #{param.price_range_min} and #{param.price_range_max}-->
<!--        </if>-->
<!--        <if test="param.brand_id != null">-->
<!--            and w.`brand_id` = #{param.brand_id}-->
<!--        </if>-->
<!--        <if test="param.watch_type_id!= null">-->
<!--            AND w.`watch_type_id`= #{param.watch_type_id}-->
<!--        </if>-->
<!--        <if test="param.condition==1">-->
<!--            order by w.`so_price` DESC-->
<!--        </if>-->
<!--        <if test="param.condition==2">-->
<!--            order by w.`so_price` ASC-->
<!--        </if>-->
<!--        <if test="param.condition==3">-->
<!--            order by w.watch_sell_count DESC-->
<!--        </if>-->
<!--        <if test="param.condition==4">-->
<!--            order by w.watch_date DESC-->
<!--        </if>-->
    </select>

    <select id="findWatchIdByParameterId" resultType="Integer">
        select watch_id from tb_watchs where wp_Id=#{parameterId}
    </select>
    <select id="findWatchByGradeAndType" resultMap="tbwatchs">
        <include refid="Tb_Watchs_list_2"></include>
        <if test="gradeId != null and gradeId!=0">
             and w.`watch_grade_id` = #{gradeId}
        </if>
        <if test="typeId != null and typeId!=0">
             and w.`watch_type_id` = #{typeId}
        </if>
        order by w.`watch_sell_count` DESC
    </select>

    <select id="findWatchByKeyWord" resultMap="tbwatchs">
        <include refid="Tb_Watchs_list_2"></include>
        <if test="keyWord!=null and keyWord!=''">
            and watch_name like concat('%',#{keyWord},'%')
        </if>
        <if test="gradeId != null and gradeId!=0">
            and w.`watch_grade_id` = #{gradeId}
        </if>
        <if test="priceRangeMin!=0 and priceRangeMax!=0">
            and w.`so_price` BETWEEN #{priceRangeMin} and #{priceRangeMax}
        </if>
        <if test="brandId != 0">
            and w.`brand_id` = #{brandId}
        </if>
        <if test="condition==1">
            order by w.`so_price` DESC
        </if>
        <if test="condition==2">
            order by w.`so_price` ASC
        </if>
        <if test="condition==3">
            order by w.watch_sell_count DESC
        </if>
        <if test="condition==4">
            order by w.watch_date DESC
        </if>
    </select>


    <select id="findWatchById" resultMap="tbwatchs">
        <include refid="Tb_Watchs_list_2"></include>
            AND w.`watch_id` = #{_parameter}
    </select>

    <select id="findWatchByinfo" resultMap="tbwatchs">
        <include refid="Tb_Watchs_list_2"></include>
        <if test="gradeId != null and gradeId != 0">
             and w.`watch_grade_id` = #{gradeId}
        </if>
        <if test="brandId != null and brandId != 0">
             and b.`brand_id` = #{brandId}
        </if>
        <if test="seriesId != null and seriesId != 0">
             and w.`series_id` = #{seriesId}
        </if>
        <if test="watchName != null and watchName!=''">
             and w.`watch_name` LIKE CONCAT ('%',#{watchName},'%')
        </if>
        <if test="watchPriceMin != null and watchPriceMin!=0 and watchPriceMax != null and watchPriceMax!=0">
             and w.`watch_price` &gt;=#{watchPriceMin} AND w.`watch_price` &lt;=#{watchPriceMax}
        </if>
        <if test="condition == 0">
            ORDER BY w.`watch_id` asc
        </if>
        <if test="condition ==1" >
            ORDER BY w.`watch_id` asc
        </if>
        <if test="condition ==2">
            ORDER BY w.`watch_price` asc
        </if>
        <if test="condition ==5">
            ORDER BY w.`watch_price` DESC
        </if>
        <if test="condition ==3">
            ORDER BY w.`watch_sell_count` DESC
        </if>
        <if test="condition ==4">
            ORDER BY w.`watch_date` DESC
        </if>
    </select>

    <select id="findWatchByVolume" resultMap="tbwatchs">
        <include refid="Tb_Watchs_list_2"></include>
        <if test="gradeId != null">
             and w.`watch_grade_id` = #{gradeId}
        </if>
            ORDER BY w.`watch_sell_count` DESC
    </select>

    <!--获取手表详情图片-->
    <select id="findImagesById" resultType="com.xfkj.entity.commodity.WatchImages">
        SELECT `id`,`w_id`,`images`,`images_type` FROM w_images WHERE w_id = #{wId}
    </select>
    <!--<resultMap id="" type="">
        <id></id>
        <result/>
&lt;!&ndash;        映射对象&ndash;&gt;
        <association notNullColumn="id" property=""></association>
&lt;!&ndash;        映射集合，oftype：集合内类型&ndash;&gt;
        <collection notNullColumn="id" property="" ofType="">
            <id/>
            <result/>
        </collection>
    </resultMap>-->
</mapper>