<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfkj.mapper.commodity.WatchTypeMapper">
    <select id="getAll" resultType="WatchType">
        SELECT `type_id`,`type_name`,`price_section_up`,`price_section_down` FROM `watch_type`
    </select>

</mapper>