<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>订单提交成功_好利时手表网</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
<link rel="stylesheet" href="/css/2.css">
<!--[if lte IE 6]>
<link rel="stylesheet" href="http://qd.wbiao.cn/src2/css/common/3.0/ie6.css?t=201307300952">
<![endif]-->
</head>

<body style="">
<div id="member_info2"></div>
<div id="header">
    <div class="top">
    <ul>
        <li id="member_info">
            <span id="loginInfo" th:if="${session.Joy_User!=null}" th:name="${session.Joy_User.u_id}">[[${session.Joy_User.u_name}]],欢迎你	&nbsp;&nbsp; &nbsp; </span>
            <a th:if="${session.Joy_User!=null}" href="/user/logout.xf" class="f12">退出</a>
            <a th:if="${session.Joy_User==null}" href="/user/login.xf" title="登录" rel="nofollow">请登录</a>
        </li>
        <li>&nbsp;|&nbsp;</li>
        <li><a href="/user/doVip.xf" rel="nofollow" title="我的订单">我的订单</a></li>
        <li>&nbsp;|&nbsp;</li>
        <li class="s__center"><a class="link_center" href="/user/doVip.xf" rel="nofollow" title="会员中心">会员中心&nbsp;<span class="s__arrow_red_down">&nbsp;</span></a>
            <div id="user_menu_list">
                <p>您好! 进入会员中心请先<a href="login.html" >&nbsp;登录&nbsp;</a>或<a href="reg.html" >&nbsp;注册&nbsp;</a></p>
            </div>
        </li>
        <li>&nbsp;|&nbsp;</li>
        <li class="s__clearing"><div class="s__cart"><a href="car.html" rel="nofollow">去购物车结算&nbsp;<span class="s__arrow_red_down">&nbsp;</span></a></div></li>
    </ul>
    </div>
    <div class="w750 mt30 fr">
        <ul class="m_0_23 inline w464 fr li_left li">
            <li class="w14 h14 circle bp_0-36"></li>
            <li class="w136 h8 mt6 bt_2_f1f">&nbsp;</li>
            <li class="w14 h14 circle bp_0-36"></li>
            <li class="w136 h8 mt6 bt_2_f1f">&nbsp;</li>
            <li class="w14 h14 circle bp_0-36"></li>
            <li class="w136 h8 mt6 bt_2_f1f">&nbsp;</li>
            <li class="w14 h14 circle bp_0-19"></li>
        </ul>
        <ul class="w510 mt10 fr li_left li">
            <li class="w60 bold f14 c666">选购商品</li>
            <li class="w90">&nbsp;</li>
            <li class="w60 bold f14 c666">提交订单</li>
            <li class="w90">&nbsp;</li>
            <li class="w60 bold f14 c666">支付订单</li>
            <li class="w90">&nbsp;</li>
            <li class="w60 bold f14 cd00">等待签收</li>
        </ul>
    </div>
    <h1><br /><img src="/Images/logo/shop_logo2.png" /></h1>
</div>


<div id="main">
    <div class="w930 m0a mt50">
        <dl class="bgf6f br10 f14 p20">
            <dt class="bold f22 cd00">订单提交成功！</dt>
            <dd class="ml5 mt15 c777">感谢您订购好利时手表网商品；</dd>
            <dd class="ml5 mt10 c777">请你确保手机联系畅通，我们将稍后和你本人联系；</dd>
            <dd class="ml5 mt10 c777">订单确认后，我们将第一时间为您安排发货！</dd>
        </dl>
		        <div class="mt30 ml10">
			            <div class="mb10 c777 f13">设置密码后，即可马上成为好利时手表网会员，方便进入查看与订单管理</div>
            <a id="login_now" href="/user/doVip.xf" class="btnd00 w212 h40 f18 bold tc inbl fancybox.iframe">查看订单</a>
      </div>
    </div>
</div>


</div>


<div id="footer">
  <div class="info">
    <p class="copyright">                好利时名表 版权所有  Copyright 2014-2015 www.xxxxxxx.cn . LTD ALL RIGHT RESERVED.

    </p>
  </div>
</div>
</body>
</html>
