<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="Cache-Control" content="no-transform">
    <meta property="qc:admins" content="6751370427672117636">
    <title>我的订单</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
    <link rel="stylesheet" href="/css/sxg.css">
    <link rel="stylesheet" href="/css/user.css" type="text/css" media="screen, projection">
    <script type="text/javascript" src="/Script/user.js"></script>
    <link type="text/javascript" rel="stylesheet" href="/css/user.css">
    <link  rel="stylesheet"  href="/css/toastr.css">
    <link  rel="stylesheet"  href="/bootstrap/css/bootstrap-table.css">
    <link  rel="stylesheet"  href="/bootstrap/css/bootstrap.min.css">
    <!--导入头部,资源引用-->
    <head th:insert="~{common/header :: header-head}"></head>

</head>
<body>

<!-- 导入头部 内容-->
<body th:insert="~{common/header :: header-body}"></body>
<div id="main">
    <div class="position">
        <a href="/index/doIndex.xf"><strong>首页</strong></a>
        <i>&gt;</i>
        <a href="#" target="_blank" class="c0e7">我的好利时手表</a>
        <i>&gt;</i>
        <span>我的订单</span>
    </div>
    <div class="rightArea">
        <!-- 便利提醒 Begin -->
        <div class="prompt">
            <div class="pr_top">
                <b class="tit">我的订单</b>
                <div id="contact_kf_div" class="u__kf" onclick=""></div>
            </div>
        </div>
        <!-- 便利提醒 End -->
        <input name="userida" type="hidden" value="4"/>
        <div class="clear"></div>
        <div class="magger">
            <!--订单管理开始-->
            <iframe class="order_magger" id="iframe" src="" frameborder="0"></iframe>
            <!--订单管理结束-->
        </div>
    </div>
        <!-- 左边菜单 Begin -->
        <div class="leftArea">
            <div class="u__mine"><a href="/index/doIndex.xf" style="display: block; height: 100%;">我的好利时</a></div>
            <div class="member">
                <a class="avatar icon-a-head">
                    <img th:src="${user.head_image}">
                </a>
                <p class="name">[[${user.u_name}]]</p>
                <p class="level">
                    <span  class="grade-1">[[${user.watch_vip.vip_name}]]</span>
                </p>
            </div>
            <div class="floor">
                <div class="t"><i class="u__trade"></i><font class="f_fixed">交易管理</font></div>
                <div class="c">
                    <ul>
                        <li>
                            <i class=""></i>
                            <a content="/order/frame/order" href="#" class="myOrder" title="我的订单"   rel="nofollow">我的订单
                                (<span class="cb01">1</span>)</a>
                        </li>
                        <li>
                            <i></i>
                            <a onclick="" href="#" title="我的预售" rel="nofollow">我的预售
                                (<span class="cb01">0</span>)
                            </a>
                        </li>
                        <li class="addressys">
                            <i></i>
                            <a content="address_magger" href="#" title="收货地址" rel="nofollow" >收货地址</a>
                        </li>
                        <li>
                            <i></i>
                            <a onclick="" href="#" title="礼品卡" rel="nofollow">礼品卡</a>
                        </li>
                        <li style="border:0;">
                            <i></i>
                            <a onclick="" href="#" title="代金券/优惠券" rel="nofollow">代金券/优惠券</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="floor">
                <div class="t"><i class="u__datum"></i><font class="f_fixed">账户管理</font></div>
                <div class="c">
                    <ul>
                        <li><i></i><a onclick="" href="#" title="个人资料" rel="nofollow">个人资料</a></li>
                        <li><i></i><a onclick="" href="#" title="修改密码" rel="nofollow">修改密码</a></li>
                        <li><i></i><a onclick="" href="#" title="我的收藏" rel="nofollow">我的收藏</a></li>
                        <li><i></i><a onclick="" href="#" title="浏览历史" rel="nofollow">浏览历史</a></li>
                        <li style="border:0;"><i></i><a onclick="" href="http://user.wbiao.cn/recommend" title="为我推荐"
                                                        rel="nofollow">为我推荐</a></li>
                    </ul>
                </div>
            </div>
            <div class="floor">
                <div class="t"><i class="u__integral"></i><font class="f_fixed">积分管理</font></div>
                <div class="c">
                    <ul>
                        <li><i></i><a onclick="" href="#" title="我的积分" rel="nofollow">我的积分</a></li>
                        <li><i></i><a onclick="" href="#" title="积分细则" rel="nofollow">积分细则</a></li>
                        <li style="border:0;"><i></i><a onclick="" href="#" title="推荐有礼" rel="nofollow">推荐有礼</a></li>
                    </ul>
                </div>
            </div>
            <div class="floor">
                <div class="t"><i class="u__service"></i><font class="f_fixed">消息管理</font></div>
                <div class="c">
                    <ul>
                        <li><i></i><a href="#" title="购买咨询" rel="nofollow">购买咨询</a></li>
                        <li><i></i><a href="#" title="我的评论" rel="nofollow">我的评论</a></li>
                        <li style="border:0;"><i></i><a href="#" title="我的消息" rel="nofollow">我的消息</a></li>
                        <li style="border:0;"><i></i><a href="#" title="促销通知" rel="nofollow">促销通知</a></li>
                    </ul>
                </div>
            </div>
            <div class="floor">
                <div class="t"><i class="u__star"></i><font class="f_fixed">好利时手表会员</font></div>
                <div class="c">
                    <ul>
                        <li><i></i><a href="#" title="会员简介" rel="nofollow">会员简介</a></li>
                    </ul>
                </div>
            </div>
            <div class="logout">
                <a href="/user/logout.xf" class="c999">退出登录</a>
            </div>
        </div>
    </div>
    <!-- 左边菜单 End -->
<!-- 导入底部 -->
<div th:insert="~{common/footer :: foot}"></div>
<div id="return">
    <a href="javascript:void(0);" class="c__gotop" title="返回顶部" style="display:none;" rel="nofollow"></a>
</div>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="/js/bootstrap-table/CommBootstrap.js"></script>
<script type="text/javascript" src="/js/bootstrap-table/CommAjax.js"></script>
<script src="/js/layer/layer.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-table/CommLayer.js"></script>
<script type="text/javascript" src="/js/huiyuan.js"></script>
</body>
</html>
