<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>好利时手表-在线寄卖，闲置奢侈品快速变现</title>
<script language="javascript" type="text/javascript" src="/Script/LotteryWdatePicker.js"></script>
<link rel="stylesheet" type="text/css" href="/css/base_v1.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery.autocomplete.css" />
<link type="text/css" rel="stylesheet" href="css/jimai.css"/>
<script type="text/javascript" src="/Script/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/Script/global_siku.js"></script>
<script src="/Script/jquery.cookie.js" type="text/javascript"></script>
<script src="/Script/commonHeader.js" type="text/javascript"></script>
<script src="/Script/sk_homepage_zw_v2.js" type="text/javascript"></script>
<script src="/Script/jquery.autocomplete.js" type="text/javascript"></script>

<!--[if IE 6]>
	<script type="text/javascript" src="/Script/ie6-png.js"></script>
	<script language="javascript" type="text/javascript">
		DD_belatedPNG.fix(".pngfix");
	</script>
<![endif]-->
</head>

<body>

<!--页头代码开始-->
<script type="text/javascript">


</script>
<link rel="stylesheet" type="text/css" href="/css/jquery.autocomplete.css" />
<script src="/Script/jquery.autocomplete.js" type="text/javascript"></script>
<!--页头代码结束-->

<!--中部内容开始-->

<div class="jimai_box">
	<div class="jimai_slider">
    	<div class="mtsBanner" id="mtsBanner">
    		<ul class="bannerWrap">
            <img alt="" src="/Images/banner2.jpg" />
                <li style="background-image:url(/Images/jimai_01.jpg)" ></li>
    		</ul>
		</div>
    </div>
<div class="nav_box">
    	<div class="jnav" id="fixed">
    	<ul class="clearfix">
        	<li><a class="aStyle navBtn01" href="#">什么事寄卖</a></li>
            <li><a class="aStyle navBtn02" href="#">寄卖的方式与流程</a></li>
            <li><a class="aStyle navBtn03" href="#">调价与撒买</a></li>
            <li><a class="aStyle navBtn04" href="#">结算与提现</a></li>
            <li class="anotherBtn">
            	<a style="display:block; width:163px; height:44px;" href="#" target="_blank"><div class="nav_btn01">
                	<p class="clearfix">
                    	<span class="t1 pngfix"></span>&nbsp;立即寄卖
                    </p>
                </div>
                </a>
            </li>
            <li class="anotherBtn">
                	<div class="nav_btn02">
                        <p class="clearfix">
                            <span class="t2 pngfix"></span>&nbsp;到店预约
                        </p>
                	</div>
            </li>
        </ul>
    </div>
    </div>
    <div class="content_box" id="floor">
        <div class="jimai_list01 bgcolor01">
            <p class="clearfix">
                <img alt="" src="/Images/jimai_03.jpg" width="990" height="240" />
                <img alt="" src="/Images/jimai_04.jpg" width="990" height="240" />
                <img alt="" src="/Images/jimai_05.jpg" width="990" height="211" />
                <img alt="" src="/Images/jimai_06.jpg" width="990" height="178" />
                <img alt="" src="/Images/jimai_07.jpg" width="990" height="214" />
                <img alt="" src="/Images/jimai_08.jpg" width="990" height="217" />
            </p>
        </div>
        <div class="jimai_list01 bgcolor02">
            <p class="clearfix">
                <img alt="" src="/Images/jimai_09.jpg" width="990" height="432" />
                <img alt="" src="/Images/jimai_10.jpg" width="990" height="232" />
                <img alt="" src="/Images/jimai_11.jpg" width="990" height="186" />
            </p>
        </div>
        <div class="jimai_list01 bgcolor01">
            <p class="clearfix"><img src="/Images/jimai_12.jpg" width="990" height="184" /><img src="/Images/jimai_13.jpg" width="990" height="242" /><img src="/Images/jimai_14.jpg" width="990" height="220" /></p>
      </div>

  <div class="jimai_list01 bgcolor04">
            <p class="clearfix">
                <img alt="" src="/Images/jimai_16.jpg" width="990" height="194" />
                <img alt="" src="/Images/jimai_17.jpg" width="990" height="194" />
                <img alt="" src="/Images/jimai_18.jpg" width="990" height="259" />
          </p>
        </div>
        <div class="jimai_list01 bgcolor01">
            <p class="clearfix">
                <img alt="" src="/Images/jimai_19.jpg" width="990" height="210" />
                <img alt="" src="/Images/jimai_20.jpg" width="990" height="210" />
                <img alt="" src="/Images/jimai_21.jpg" width="990" height="235" />
          </p>
        </div>


        <div class="popbox" id="layer01">
        	<div class="close pngfix"></div>
            <div class="pop_con">
            	<h3 class="h3">什么是寄卖</h3>
                <p>寄卖一种委托代售的经营方式。是寄卖经营企业按照寄卖服务协议，为货主销售物品，之后再与其结算货款并收取佣金的一种商业服务行为。</p>
                <h4 class="h4">好利时手表在线寄卖</h4>
                <p>突破传统寄卖模式，通过好利时手表官网或微信提交寄卖商品信息，我们鉴定师会在24小时内与您联系并提供邮寄地址，我们收到的商品通过鉴定后，将您的商品在线上线
下多种渠道为您销售商品，售出后自动在您库支付账号中充入等值货款.</p>
            </div>
        </div>
        <div class="popbox" id="layer02">
        	<div class="close pngfix"></div>
            <div class="pop_con">
            	<h3 class="h3">寄卖方式与流程</h3>
                <h5><img alt="" src="/Images/jimai_24.jpg" width="770" height="121" /><img src="/Images/jimai_25.jpg" width="770" height="222" /></h5>
                <p>您可预约或直接前往好利时手表（北京，上海，成都）会所参与寄卖，请携带您欲寄卖的奢品与相关证件，我们的鉴定师会现场为您鉴定估价办理寄卖手续。</p>
                <p>注：到会所寄卖我们同时提供买断和置换服务。</p>
            </div>
        </div>
        <div class="popbox" id="layer03">
        	<div class="close pngfix"></div>
            <div class="pop_con">
            	<h3 class="h3">调价与撤卖</h3>
                <p>在您的商品寄卖过程中，您都可以对您的商品在“我的好利时手表-寄卖物品管理”中进行调价，可以使用比价功能作为参考，每日最多可以调价3次，调价后我们会在24小时内与您联系确认。</p>
                <p>如果您想取回您的商品，可以前往好利时手表（北京，上海，成都）会所直接撤卖或者线上“我的好利时手表-寄卖物品管理”申请撤卖，我们会在24小时内与您联系确认。</p>
                <p>注：商品如果被顾客预订，系统显示“预订中”，不能申请调价与撤卖。</p>
            </div>
        </div>
        <div class="popbox" id="layer04">
        	<div class="close pngfix"></div>
            <div class="pop_con">
            	<h3 class="h3">结算与提现</h3>
                <p>售出后库支付结算：您在好利时手表寄卖的货品订单完成三个工作日内，我们将结算金额等值库币自动转入库支付帐户中，即可消费，剩余库币可以在该货品订单完成次月15日起登录<a href="http://www.secoo.com/">http://www.secoo.com</a>在”我的好利时手表－帐户余额”中申请提现。</p>
                <h4 class="h4">提现方式：</h4>
                <p>1、预约会所取款：请您预约取现时间、地点（北京、上海、成都库会所），届时前去领取，未按选择时间领取需再次勾选预约；</p>
                <p>2、转账提现：我们会在您提出申请的5个工作日将款项打入下方账户中（到账时间或因银行不同有时间差），初次寄卖请在“我的好利时手表-账户余额”中添加银行卡信息。
如需更改提现方式，必须携带本人有效二代身份证件到鉴定中心做变更。</p>
            </div>
        </div>

        <div class="popbox" id="layer05" style="width:605px; margin-left:-272px;">
        	<div class="close pngfix"></div>
            <div class="pop_con" style="width:545px">
            	<ul>
                	<li class="clearfix">
                    	<span class="ap_text">选择您要预约的门店：</span>
                        <span class="fl"><input name="sf" type="radio" value="bj">北京店&nbsp;&nbsp;<input name="sf" type="radio" value="sh">上海店&nbsp;&nbsp;<input name="sf" type="radio" value="cd">成都店</span>
                   		<span id="jimai_sf_error" class="msg_error"></span>
                    </li>
                    <li class="clearfix">
                    	<span class="ap_text">请输入您的手机号：</span><input type="text" class="ap_input" name="jimai_tel" id="jimai_tel"><span id="jimai_tel_error" class="msg_error"></span>
                    </li>
                    <li class="clearfix">
                    	<span class="ap_text">请输入您的姓名：</span><input type="text" class="ap_input" name="jimai_name" id="jimai_name"><span id="jimai_name_error" class="msg_error"></span>
                    </li>
                    <li class="clearfix">
                    	<span class="ap_text">预约到店日期：</span><input type="text" class="ap_input" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="jimai_date" id="jimai_date"><span id="jimai_date_error" class="msg_error"></span>
                    </li>
                    <li class="clearfix">
                    	<span class="ap_text">验证码：</span><input type="text" class="ap_input" style="width:95px;float:left;" name="jimai_valide" id="jimai_valide">
                           <span class="fl" style="padding-left:5px;"><img alt="" src="Images/valicode" width="105" height="24" id="valide_img" style="display: block; margin-top:5px;"></span>
                           <span id="jimai_valide_error" class="msg_error" style="padding: 0 0 0 8px;"></span>
                    </li>
                    <li class="marTop_15" style="text-align:center;">
                    	<span id="msg_error" class="msg_error"></span><a href="javascript:void(0)" class="bt_1" id="jimai_submit" style="padding:0px 40px;">提交</a>
                    </li>
                </ul>
                <div class="notAppointment">不想预约？您也可以直接<a href="http://www.secoo.com/secoojimai/goodsCtrl/toAdd" class="bt_2" style="padding:0px 40px;margin-left:10px;">立即寄卖</a></div>
            </div>
        </div>

        <div class="mask"></div>
    </div>
</div>
<!--中部内容结束-->

<script type="text/javascript">
$(function(){

});


    </script>

<!--页尾代码开始-->
<div class="footer">
  <div class="footerListBottom">
        	<div class="footerListBottom01">
        	<div class="footerListBottom01">好利时名表 版权所有 Copyright 2014-2015 www.xxxxxxx.cn . LTD ALL RIGHT RESERVED. </div>

			</div>

        </div>

</div>
    <!-- Google Tag Manager -->

<!--页尾代码结束-->
<script src="/Script/secoo_jimai_yuyue.js" type="text/javascript"></script>
<script src="/Script/jquery-1.8.3.min.js" type="text/javascript"></script>
</body>
</html>
