<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <title>好利时手表网【官网】：中国最大的正品名表商城！买手表，上好利时手表！</title>
    <meta name="keywords" content="手表,买手表,好利时手表网,好利时手表网官网,名表商城,正品手表，瑞士手表"/>
    <meta name="description"
          content="【好利时手表网官网】：买原装正品世界名表：浪琴、天梭、欧米茄、劳力士等瑞士手表品牌，信用卡分期付款，正品保证，全国联保，终身售后保障！"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>
    <link rel="stylesheet" type="text/css" href="/css/haolishi/search.css">
    <link rel="stylesheet" type="text/css" href="/css/haolishi/common-min.css">
    <!--引入头部css样式等文件-->
    <head th:include="~{common/header :: header-head}"></head>
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="/css/toastr.css">
    <!--[if lte IE 6]>
    <script src="/Script/DD_belatedPNG.js"></script>
    <script>
    </script>
    <![endif]-->

    <link rel="stylesheet" href="/css/sxg.css">
    <link rel="stylesheet" href="/css/os.css">
</head>
<body>
<script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="/js/toastr.js"></script>
<!-- 导入头部 内容-->
<body th:insert="~{common/header :: header-body}"></body>


<!-- Main Begin -->
<div id="main2">

    <div class="position">
        <span>当前位置：</span> <a href="index.html" rel="nofollow">首页</a> <i>&gt;</i>
        <h1>
            <a href="os.html ">商品中心</a>
        </h1>
    </div>

    <div class="clearfix"></div>

    <!--<div style="margin-top:25px;"></div>-->
    <!--<div class="list_banner">-->
        <!--<a href="http://data.wbiao.cn/ad.php?ad_id=1138" rel="nofollow"-->
           <!--onclick="_gaq.push(['_trackEvent','quan-zhan','heng-fu__1','http://data.wbiao.cn/ad.php?ad_id=1138']);"><img-->
                <!--src="/Images/blank.gif" class="lazy"-->
                <!--data-original="http://img2.wbiao.cn/ad/201403/21/139536510192630.jpg"-->
                <!--alt="招行特惠"/>-->
        <!--</a>-->
    <!--</div>-->
    <div style="clear:both">&nbsp;</div>
    <!--banner结束-->
    <div class="rightArea w995">

        <div class="sift_tips">
            <div class="st_top">筛选结果</div>
            <div class="st_bot">
                找到&nbsp;
                <a th:each="item,userStat : ${conditions}" class="conditions" rel="nofollow" title="取消选择"
                   th:style="'display:' + @{(${userStat.current.value!=null and userStat.current.value!='' and userStat.current.value!='0'} ? 'inline-block' : 'none')} + ''">
                    <span>[[${userStat.current.key}]]</span>
                    <b>
                        <i>[[${userStat.current.value}]]</i>
                        <em class="icon-a-close03">X</em>
                    </b>
                </a>
                &nbsp;<b class="red">[[${watchsName.totalElements}]]</b>件
        </div>
        </div>

        <div class="clear"></div>
        <div class="show_area" id="show_area">
            <div class="search_floor">
                <div class="search_filter_line ">
                    <div  class="srh_price srh_block clearfix">
                        <span class="srh_title fl">价格</span>
                        <div class="srh_right clearfix">
                            <div class="srh_option fl">
                                <ul class="price_between clearfix">
                                    <li class="fl">
                                        <a ><span>1000以下</span></a></li>
                                    <li class="fl">
                                        <a ><span>1000-3000</span></a>
                                    </li>
                                    <li class="fl">
                                        <a ><span>3000-5000</span></a></li>
                                    <li class="fl">
                                        <a ><span>5000-10000</span></a>
                                    </li>
                                    <li class="fl">
                                        <a ><span>10000-50000</span></a>
                                    </li>
                                    <li class="fl">
                                        <a ><span>50000-100000</span></a>
                                    </li>
                                    <li class="fl"><a ><span>100000以上</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="price_range">
                                <input name="minprice" type="text" size="7" maxlength="9"
                                                            class="price_input"
                                                            onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');">
                                <span>-</span>
                                <input name="maxprice" type="text" size="7" maxlength="9"
                                                      class="price_input"
                                                      onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');">
                                <a  class="price_btn">确定</a>
                            </div>
                        </div>
                    </div>
                    <div  class="srh_brand srh_block clearfix">
                        <span th:name="${brand_id}" id="brand_span" class="srh_title fl">品牌</span>
                        <div class="srh_brand_right srh_right clearfix">
                            <div class="brand_con hot_brand fl">
                                <div class="brand_option">
                                    <div class="srh_option">
                                        <ul class="clearfix brand_ul">
                                            <li th:each="brand : ${watchBrandName.list}" class="fl">
                                                <a href="" th:name="${brand.brand_id}">[[${brand.brand_name}]]
                                                <em th:if="${brand.brand_code}" class="h">&nbsp;/&nbsp;[[${brand.brand_code}]]</em></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="brand_con all_brand fl h">
                                <div class="brand_search"><span class="s_icon"></span>
                                    <input type="text" class="input_brand" placeholder="输入品牌名">
                                    <div class="brand_abc"><a href="javascript:void(0);" class="all_brand">全部</a> <a
                                            href="javascript:void(0);">A</a> <a href="javascript:void(0);">B</a> <a
                                            href="javascript:void(0);">C</a> <a href="javascript:void(0);">D</a> <a
                                            href="javascript:void(0);">F</a> <a href="javascript:void(0);">G</a> <a
                                            href="javascript:void(0);">H</a> <a href="javascript:void(0);">J</a> <a
                                            href="javascript:void(0);">K</a> <a href="javascript:void(0);"
                                                                                class="on">L</a> <a
                                            href="javascript:void(0);">M</a> <a href="javascript:void(0);">N</a> <a
                                            href="javascript:void(0);">O</a> <a href="javascript:void(0);">P</a> <a
                                            href="javascript:void(0);">R</a> <a href="javascript:void(0);">S</a> <a
                                            href="javascript:void(0);">T</a> <a href="javascript:void(0);">W</a> <a
                                            href="javascript:void(0);">X</a> <a href="javascript:void(0);">Y</a> <a
                                            href="javascript:void(0);">Z</a></div>
                                </div>
                                <div class="brand_option">
                                    <div class="srh_option">
                                        <ul class="clearfix h">
                                            <li class="fl">
                                                <a >芝柏 <em
                                                    class="h">&nbsp;/&nbsp;Girard Perregaux</em></a></li>
                                        </ul>
                                    </div>
                                    <div class="sear_cont srh_option_more h" id="sear_cont"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="property_list over_height">
                        <div class="property_list over_height">
                            <div  class="srh_block clearfix  "><span class="srh_title fl">适用人群</span>
                                <div class="srh_right clearfix">
                                    <div class="srh_option fl">
                                        <ul class="clearfix intended_for">
                                            <li class="fl">
                                                <a  ><span name="man">男表</span></a></li>
                                            <li class="fl">
                                                <a  ><span name="woman">女表</span></a></li>
                                            <li class="fl">
                                                <a  ><span name="lovers">情侣</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="srh_more_btn"><a href="javascript:;" class="show_more h"><i
                                            class="icon-d-down s_icon"></i> <span class="s_txt">更多</span></a>
                                        <!--<a href="javascript:;" class="select_more">-->
                                            <!--<i class="icon-d-add s_icon"></i>-->
                                        <!--<span class="s_txt">多选</span>-->
                                        <!--</a>-->
                                    </div>
                                    <div class="srh_comfire h fl">
                                        <button type="submit" class="submit_btn s_btn">确定</button>
                                        <button type="reset" class="reset_btn s_btn">取消</button>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="srh_block clearfix  "><span class="srh_title fl">机芯类型</span>-->
                                <!--<div class="srh_right clearfix">-->
                                    <!--<div class="srh_option fl">-->
                                        <!--<ul class="clearfix">-->
                                            <!--<li class="fl"><a href="/list-195.html" value-code="195">自动机械</a></li>-->
                                            <!--<li class="fl"><a href="/list-196.html" value-code="196">手动机械</a></li>-->
                                            <!--<li class="fl"><a href="/list-42.html" value-code="42">石英</a></li>-->
                                            <!--<li class="fl"><a href="/list-41.html" value-code="41">机械</a></li>-->
                                            <!--<li class="fl"><a href="/list-646.html" value-code="646">智能</a></li>-->
                                            <!--<li class="fl"><a href="/list-44.html" value-code="44">光能</a></li>-->
                                            <!--<li class="fl"><a href="/list-331.html" value-code="331">电波</a></li>-->
                                            <!--<li class="fl"><a href="/list-43.html" value-code="43">电子</a></li>-->
                                            <!--<li class="fl"><a href="/list-3183.html" value-code="3183">光动能</a></li>-->
                                            <!--<li class="fl"><a href="/list-3191.html" value-code="3191">太阳能</a></li>-->
                                            <!--<li class="fl"><a href="/list-3269.html" value-code="3269">光动能万年历</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                    <!--<div class="srh_more_btn"><a href="javascript:;" class="show_more h"><i-->
                                            <!--class="icon-d-down s_icon"></i> <span class="s_txt">更多</span></a> <a-->
                                            <!--href="javascript:;" class="select_more"><i class="icon-d-add s_icon"></i>-->
                                        <!--<span class="s_txt">多选</span></a></div>-->
                                    <!--<div class="srh_comfire h fl">-->
                                        <!--<button type="submit" class="submit_btn s_btn">确定</button>-->
                                        <!--<button type="reset" class="reset_btn s_btn">取消</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="srh_block clearfix hide "><span class="srh_title fl">外壳材质</span>-->
                                <!--<div class="srh_right clearfix">-->
                                    <!--<div class="srh_option fl">-->
                                        <!--<ul class="clearfix">-->
                                            <!--<li class="fl"><a href="/list-198.html" value-code="198">钢</a></li>-->
                                            <!--<li class="fl"><a href="/list-199.html" value-code="199">不锈钢</a></li>-->
                                            <!--<li class="fl"><a href="/list-200.html" value-code="200">精钢</a></li>-->
                                            <!--<li class="fl"><a href="/list-201.html" value-code="201">PVD镀金</a></li>-->
                                            <!--<li class="fl"><a href="/list-204.html" value-code="204">18K金</a></li>-->
                                            <!--<li class="fl"><a href="/list-202.html" value-code="202">白金</a></li>-->
                                            <!--<li class="fl"><a href="/list-210.html" value-code="210">陶瓷</a></li>-->
                                            <!--<li class="fl"><a href="/list-205.html" value-code="205">玫瑰金</a></li>-->
                                            <!--<li class="fl"><a href="/list-208.html" value-code="208">钛</a></li>-->
                                            <!--<li class="fl"><a href="/list-207.html" value-code="207">红金</a></li>-->
                                            <!--<li class="fl"><a href="/list-3005.html" value-code="3005">18k玫瑰金</a></li>-->
                                            <!--<li class="fl"><a href="/list-3006.html" value-code="3006">18k白金</a></li>-->
                                            <!--<li class="fl"><a href="/list-3019.html" value-code="3019">18k黄金</a></li>-->
                                            <!--<li class="fl"><a href="/list-3023.html" value-code="3023">蓝宝石</a></li>-->
                                            <!--<li class="fl"><a href="/list-3029.html" value-code="3029">18k红金</a></li>-->
                                            <!--<li class="fl"><a href="/list-211.html" value-code="211">镶钻</a></li>-->
                                            <!--<li class="fl"><a href="/list-3187.html" value-code="3187">铜</a></li>-->
                                            <!--<li class="fl"><a href="/list-3193.html" value-code="3193">IP镀</a></li>-->
                                            <!--<li class="fl"><a href="/list-3201.html" value-code="3201">不锈钢镀玫瑰金色</a></li>-->
                                            <!--<li class="fl"><a href="/list-3209.html" value-code="3209">PVD涂层</a></li>-->
                                            <!--<li class="fl"><a href="/list-3213.html" value-code="3213">橡胶</a></li>-->
                                            <!--<li class="fl"><a href="/list-3217.html" value-code="3217">合金</a></li>-->
                                            <!--<li class="fl"><a href="/list-3220.html" value-code="3220">天然塑胶</a></li>-->
                                            <!--<li class="fl"><a href="/list-3236.html" value-code="3236">间金</a></li>-->
                                            <!--<li class="fl"><a href="/list-3256.html" value-code="3256">不锈钢覆GIP</a></li>-->
                                            <!--<li class="fl"><a href="/list-3258.html" value-code="3258">不锈钢覆BIP</a></li>-->
                                            <!--<li class="fl"><a href="/list-212.html" value-code="212">其它</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                    <!--<div class="srh_more_btn"><a href="javascript:;" class="show_more h"><i-->
                                            <!--class="icon-d-down s_icon"></i> <span class="s_txt">更多</span></a> <a-->
                                            <!--href="javascript:;" class="select_more"><i class="icon-d-add s_icon"></i>-->
                                        <!--<span class="s_txt">多选</span></a></div>-->
                                    <!--<div class="srh_comfire h fl">-->
                                        <!--<button type="submit" class="submit_btn s_btn">确定</button>-->
                                        <!--<button type="reset" class="reset_btn s_btn">取消</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="srh_block clearfix hide "><span class="srh_title fl">镜面材质</span>-->
                                <!--<div class="srh_right clearfix">-->
                                    <!--<div class="srh_option fl">-->
                                        <!--<ul class="clearfix">-->
                                            <!--<li class="fl"><a href="/list-379.html" value-code="379">蓝宝石水晶</a></li>-->
                                            <!--<li class="fl"><a href="/list-381.html" value-code="381">矿物玻璃</a></li>-->
                                            <!--<li class="fl"><a href="/list-3218.html" value-code="3218">玻璃</a></li>-->
                                            <!--<li class="fl"><a href="/list-3276.html" value-code="3276">蓝宝石玻璃</a></li>-->
                                            <!--<li class="fl"><a href="/list-3221.html" value-code="3221">强化玻璃</a></li>-->
                                            <!--<li class="fl"><a href="/list-3057.html" value-code="3057">水晶玻璃</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                    <!--<div class="srh_more_btn"><a href="javascript:;" class="show_more h"><i-->
                                            <!--class="icon-d-down s_icon"></i> <span class="s_txt">更多</span></a> <a-->
                                            <!--href="javascript:;" class="select_more"><i class="icon-d-add s_icon"></i>-->
                                        <!--<span class="s_txt">多选</span></a></div>-->
                                    <!--<div class="srh_comfire h fl">-->
                                        <!--<button type="submit" class="submit_btn s_btn">确定</button>-->
                                        <!--<button type="reset" class="reset_btn s_btn">取消</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="srh_block clearfix hide mdw"><span class="srh_title fl">表盘直径</span>-->
                                <!--<div class="srh_right clearfix">-->
                                    <!--<div class="srh_option fl">-->
                                        <!--<ul class="clearfix">-->
                                            <!--<li class="fl"><a href="/list-217.html" value-code="217">主流35mm-40mm</a>-->
                                            <!--</li>-->
                                            <!--<li class="fl"><a href="/list-218.html" value-code="218">大盘40mm-45mm</a>-->
                                            <!--</li>-->
                                            <!--<li class="fl"><a href="/list-214.html" value-code="214">迷你25mm以下</a></li>-->
                                            <!--<li class="fl"><a href="/list-215.html" value-code="215">小盘25mm-30mm</a>-->
                                            <!--</li>-->
                                            <!--<li class="fl"><a href="/list-216.html" value-code="216">传统30mm-35mm</a>-->
                                            <!--</li>-->
                                            <!--<li class="fl"><a href="/list-219.html" value-code="219">超大45mm以上</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                    <!--<div class="srh_more_btn"><a href="javascript:;" class="show_more h"><i-->
                                            <!--class="icon-d-down s_icon"></i> <span class="s_txt">更多</span></a>-->
                                        <!--<div class="diameter"><input type="text" class="diameter_input"> <span-->
                                                <!--class="diameter_button">确定</span>-->
                                            <!--<p class="tips">请输入有效的表盘直径</p> <input type="hidden" id="mdwText" value="">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="srh_comfire h fl">-->
                                        <!--<button type="submit" class="submit_btn s_btn">确定</button>-->
                                        <!--<button type="reset" class="reset_btn s_btn">取消</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="srh_block clearfix hide "><span class="srh_title fl">表带材质</span>-->
                                <!--<div class="srh_right clearfix">-->
                                    <!--<div class="srh_option fl">-->
                                        <!--<ul class="clearfix">-->
                                            <!--<li class="fl"><a href="/list-53.html" value-code="53">真皮</a></li>-->
                                            <!--<li class="fl"><a href="/list-240.html" value-code="240">牛皮</a></li>-->
                                            <!--<li class="fl"><a href="/list-239.html" value-code="239">鳄鱼皮</a></li>-->
                                            <!--<li class="fl"><a href="/list-51.html" value-code="51">钢</a></li>-->
                                            <!--<li class="fl"><a href="/list-242.html" value-code="242">精钢</a></li>-->
                                            <!--<li class="fl"><a href="/list-241.html" value-code="241">不锈钢</a></li>-->
                                            <!--<li class="fl"><a href="/list-248.html" value-code="248">PVD镀金</a></li>-->
                                            <!--<li class="fl"><a href="/list-54.html" value-code="54">橡胶</a></li>-->
                                            <!--<li class="fl"><a href="/list-392.html" value-code="392">18K金</a></li>-->
                                            <!--<li class="fl"><a href="/list-252.html" value-code="252">尼龙</a></li>-->
                                            <!--<li class="fl"><a href="/list-3053.html" value-code="3053">帆布</a></li>-->
                                            <!--<li class="fl"><a href="/list-52.html" value-code="52">黄金</a></li>-->
                                            <!--<li class="fl"><a href="/list-245.html" value-code="245">玫瑰金</a></li>-->
                                            <!--<li class="fl"><a href="/list-3202.html" value-code="3202">不锈钢镀玫瑰金色</a></li>-->
                                            <!--<li class="fl"><a href="/list-3259.html" value-code="3259">不锈钢覆BIP</a></li>-->
                                            <!--<li class="fl"><a href="/list-3028.html" value-code="3028">18k玫瑰金</a></li>-->
                                            <!--<li class="fl"><a href="/list-3030.html" value-code="3030">18k红金</a></li>-->
                                            <!--<li class="fl"><a href="/list-745.html" value-code="745">马皮</a></li>-->
                                            <!--<li class="fl"><a href="/list-247.html" value-code="247">钛</a></li>-->
                                            <!--<li class="fl"><a href="/list-250.html" value-code="250">硅胶</a></li>-->
                                            <!--<li class="fl"><a href="/list-253.html" value-code="253">绢织</a></li>-->
                                            <!--<li class="fl"><a href="/list-55.html" value-code="55">其它</a></li>-->
                                            <!--<li class="fl"><a href="/list-499.html" value-code="499">纤维</a></li>-->
                                            <!--<li class="fl"><a href="/list-501.html" value-code="501">混合</a></li>-->
                                            <!--<li class="fl"><a href="/list-502.html" value-code="502">间金</a></li>-->
                                            <!--<li class="fl"><a href="/list-3189.html" value-code="3189">绸缎</a></li>-->
                                            <!--<li class="fl"><a href="/list-3323.html" value-code="3323">袋鼠皮</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                    <!--<div class="srh_more_btn"><a href="javascript:;" class="show_more h"><i-->
                                            <!--class="icon-d-down s_icon"></i> <span class="s_txt">更多</span></a> <a-->
                                            <!--href="javascript:;" class="select_more"><i class="icon-d-add s_icon"></i>-->
                                        <!--<span class="s_txt">多选</span></a></div>-->
                                    <!--<div class="srh_comfire h fl">-->
                                        <!--<button type="submit" class="submit_btn s_btn">确定</button>-->
                                        <!--<button type="reset" class="reset_btn s_btn">取消</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="srh_block clearfix hide "><span class="srh_title fl">表壳底盖</span>-->
                                <!--<div class="srh_right clearfix">-->
                                    <!--<div class="srh_option fl">-->
                                        <!--<ul class="clearfix">-->
                                            <!--<li class="fl"><a href="/list-275.html" value-code="275">透底</a></li>-->
                                            <!--<li class="fl"><a href="/list-276.html" value-code="276">不透底</a></li>-->
                                            <!--<li class="fl"><a href="/list-322.html" value-code="322">透窗</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                    <!--<div class="srh_more_btn"><a href="javascript:;" class="show_more h"><i-->
                                            <!--class="icon-d-down s_icon"></i> <span class="s_txt">更多</span></a> <a-->
                                            <!--href="javascript:;" class="select_more"><i class="icon-d-add s_icon"></i>-->
                                        <!--<span class="s_txt">多选</span></a></div>-->
                                    <!--<div class="srh_comfire h fl">-->
                                        <!--<button type="submit" class="submit_btn s_btn">确定</button>-->
                                        <!--<button type="reset" class="reset_btn s_btn">取消</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="srh_block clearfix hide "><span class="srh_title fl">表盘形状</span>-->
                                <!--<div class="srh_right clearfix">-->
                                    <!--<div class="srh_option fl">-->
                                        <!--<ul class="clearfix">-->
                                            <!--<li class="fl"><a href="/list-46.html" value-code="46">圆形</a></li>-->
                                            <!--<li class="fl"><a href="/list-48.html" value-code="48">方型</a></li>-->
                                            <!--<li class="fl"><a href="/list-49.html" value-code="49">长方形</a></li>-->
                                            <!--<li class="fl"><a href="/list-213.html" value-code="213">酒桶形</a></li>-->
                                            <!--<li class="fl"><a href="/list-47.html" value-code="47">椭圆形</a></li>-->
                                            <!--<li class="fl"><a href="/list-50.html" value-code="50">其它</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                    <!--<div class="srh_more_btn"><a href="javascript:;" class="show_more h"><i-->
                                            <!--class="icon-d-down s_icon"></i> <span class="s_txt">更多</span></a> <a-->
                                            <!--href="javascript:;" class="select_more"><i class="icon-d-add s_icon"></i>-->
                                        <!--<span class="s_txt">多选</span></a></div>-->
                                    <!--<div class="srh_comfire h fl">-->
                                        <!--<button type="submit" class="submit_btn s_btn">确定</button>-->
                                        <!--<button type="reset" class="reset_btn s_btn">取消</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="srh_block clearfix hide "><span class="srh_title fl">表带颜色</span>-->
                                <!--<div class="srh_right clearfix">-->
                                    <!--<div class="srh_option fl">-->
                                        <!--<ul class="clearfix">-->
                                            <!--<li class="fl"><a href="/list-256.html" value-code="256">黑色</a></li>-->
                                            <!--<li class="fl"><a href="/list-257.html" value-code="257">银色</a></li>-->
                                            <!--<li class="fl"><a href="/list-258.html" value-code="258">金色</a></li>-->
                                            <!--<li class="fl"><a href="/list-260.html" value-code="260">蓝色</a></li>-->
                                            <!--<li class="fl"><a href="/list-267.html" value-code="267">绿色</a></li>-->
                                            <!--<li class="fl"><a href="/list-3195.html" value-code="3195">卡其色</a></li>-->
                                            <!--<li class="fl"><a href="/list-3002.html" value-code="3002">间金</a></li>-->
                                            <!--<li class="fl"><a href="/list-3003.html" value-code="3003">玫瑰金色</a></li>-->
                                            <!--<li class="fl"><a href="/list-3275.html" value-code="3275">鳄鱼皮纹路</a></li>-->
                                            <!--<li class="fl"><a href="/list-3031.html" value-code="3031">深棕色</a></li>-->
                                            <!--<li class="fl"><a href="/list-254.html" value-code="254">白色</a></li>-->
                                            <!--<li class="fl"><a href="/list-259.html" value-code="259">黄色</a></li>-->
                                            <!--<li class="fl"><a href="/list-261.html" value-code="261">棕色</a></li>-->
                                            <!--<li class="fl"><a href="/list-262.html" value-code="262">红色</a></li>-->
                                            <!--<li class="fl"><a href="/list-263.html" value-code="263">紫色</a></li>-->
                                            <!--<li class="fl"><a href="/list-264.html" value-code="264">灰色</a></li>-->
                                            <!--<li class="fl"><a href="/list-3012.html" value-code="3012">粉色</a></li>-->
                                            <!--<li class="fl"><a href="/list-3024.html" value-code="3024">褐色</a></li>-->
                                            <!--<li class="fl"><a href="/list-3032.html" value-code="3032">深蓝色</a></li>-->
                                            <!--<li class="fl"><a href="/list-3055.html" value-code="3055">咖啡色</a></li>-->
                                            <!--<li class="fl"><a href="/list-265.html" value-code="265">橙色</a></li>-->
                                            <!--<li class="fl"><a href="/list-266.html" value-code="266">粉红色</a></li>-->
                                            <!--<li class="fl"><a href="/list-268.html" value-code="268">其它</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                    <!--<div class="srh_more_btn"><a href="javascript:;" class="show_more h"><i-->
                                            <!--class="icon-d-down s_icon"></i> <span class="s_txt">更多</span></a> <a-->
                                            <!--href="javascript:;" class="select_more"><i class="icon-d-add s_icon"></i>-->
                                        <!--<span class="s_txt">多选</span></a></div>-->
                                    <!--<div class="srh_comfire h fl">-->
                                        <!--<button type="submit" class="submit_btn s_btn">确定</button>-->
                                        <!--<button type="reset" class="reset_btn s_btn">取消</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="srh_block clearfix hide "><span class="srh_title fl">表盘刻度</span>-->
                                <!--<div class="srh_right clearfix">-->
                                    <!--<div class="srh_option fl">-->
                                        <!--<ul class="clearfix">-->
                                            <!--<li class="fl"><a href="/list-220.html" value-code="220">阿拉伯文</a></li>-->
                                            <!--<li class="fl"><a href="/list-221.html" value-code="221">罗马文</a></li>-->
                                            <!--<li class="fl"><a href="/list-222.html" value-code="222">条形</a></li>-->
                                            <!--<li class="fl"><a href="/list-223.html" value-code="223">钻石</a></li>-->
                                            <!--<li class="fl"><a href="/list-224.html" value-code="224">无刻度</a></li>-->
                                            <!--<li class="fl"><a href="/list-225.html" value-code="225">其它</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                    <!--<div class="srh_more_btn"><a href="javascript:;" class="show_more h"><i-->
                                            <!--class="icon-d-down s_icon"></i> <span class="s_txt">更多</span></a> <a-->
                                            <!--href="javascript:;" class="select_more"><i class="icon-d-add s_icon"></i>-->
                                        <!--<span class="s_txt">多选</span></a></div>-->
                                    <!--<div class="srh_comfire h fl">-->
                                        <!--<button type="submit" class="submit_btn s_btn">确定</button>-->
                                        <!--<button type="reset" class="reset_btn s_btn">取消</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="srh_block clearfix hide "><span class="srh_title fl">表盘颜色</span>-->
                                <!--<div class="srh_right clearfix">-->
                                    <!--<div class="srh_option fl">-->
                                        <!--<ul class="clearfix">-->
                                            <!--<li class="fl"><a href="/list-56.html" value-code="56">金色</a></li>-->
                                            <!--<li class="fl"><a href="/list-58.html" value-code="58">黑色</a></li>-->
                                            <!--<li class="fl"><a href="/list-59.html" value-code="59">白色</a></li>-->
                                            <!--<li class="fl"><a href="/list-3146.html" value-code="3146">灰黑色</a></li>-->
                                            <!--<li class="fl"><a href="/list-235.html" value-code="235">蓝色</a></li>-->
                                            <!--<li class="fl"><a href="/list-317.html" value-code="317">银色</a></li>-->
                                            <!--<li class="fl"><a href="/list-57.html" value-code="57">银白</a></li>-->
                                            <!--<li class="fl"><a href="/list-316.html" value-code="316">珍珠贝母</a></li>-->
                                            <!--<li class="fl"><a href="/list-226.html" value-code="226">灰色</a></li>-->
                                            <!--<li class="fl"><a href="/list-227.html" value-code="227">黄色</a></li>-->
                                            <!--<li class="fl"><a href="/list-228.html" value-code="228">棕色</a></li>-->
                                            <!--<li class="fl"><a href="/list-3004.html" value-code="3004">玫瑰金色</a></li>-->
                                            <!--<li class="fl"><a href="/list-3007.html" value-code="3007">紫色</a></li>-->
                                            <!--<li class="fl"><a href="/list-3009.html" value-code="3009">深蓝色</a></li>-->
                                            <!--<li class="fl"><a href="/list-229.html" value-code="229">咖啡色</a></li>-->
                                            <!--<li class="fl"><a href="/list-230.html" value-code="230">米色</a></li>-->
                                            <!--<li class="fl"><a href="/list-231.html" value-code="231">粉色</a></li>-->
                                            <!--<li class="fl"><a href="/list-233.html" value-code="233">红色</a></li>-->
                                            <!--<li class="fl"><a href="/list-234.html" value-code="234">绿色</a></li>-->
                                            <!--<li class="fl"><a href="/list-236.html" value-code="236">镶钻</a></li>-->
                                            <!--<li class="fl"><a href="/list-237.html" value-code="237">图案</a></li>-->
                                            <!--<li class="fl"><a href="/list-238.html" value-code="238">镂空</a></li>-->
                                            <!--<li class="fl"><a href="/list-318.html" value-code="318">透窗</a></li>-->
                                            <!--<li class="fl"><a href="/list-60.html" value-code="60">其它</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                    <!--<div class="srh_more_btn"><a href="javascript:;" class="show_more h"><i-->
                                            <!--class="icon-d-down s_icon"></i> <span class="s_txt">更多</span></a> <a-->
                                            <!--href="javascript:;" class="select_more"><i class="icon-d-add s_icon"></i>-->
                                        <!--<span class="s_txt">多选</span></a></div>-->
                                    <!--<div class="srh_comfire h fl">-->
                                        <!--<button type="submit" class="submit_btn s_btn">确定</button>-->
                                        <!--<button type="reset" class="reset_btn s_btn">取消</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="srh_block clearfix hide "><span class="srh_title fl">表扣类型</span>-->
                                <!--<div class="srh_right clearfix">-->
                                    <!--<div class="srh_option fl">-->
                                        <!--<ul class="clearfix">-->
                                            <!--<li class="fl"><a href="/list-269.html" value-code="269">针扣</a></li>-->
                                            <!--<li class="fl"><a href="/list-270.html" value-code="270">折叠扣</a></li>-->
                                            <!--<li class="fl"><a href="/list-271.html" value-code="271">蝴蝶扣</a></li>-->
                                            <!--<li class="fl"><a href="/list-272.html" value-code="272">暗扣</a></li>-->
                                            <!--<li class="fl"><a href="/list-273.html" value-code="273">珠宝扣</a></li>-->
                                            <!--<li class="fl"><a href="/list-320.html" value-code="320">按扣</a></li>-->
                                            <!--<li class="fl"><a href="/list-274.html" value-code="274">其它</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                    <!--<div class="srh_more_btn"><a href="javascript:;" class="show_more h"><i-->
                                            <!--class="icon-d-down s_icon"></i> <span class="s_txt">更多</span></a> <a-->
                                            <!--href="javascript:;" class="select_more"><i class="icon-d-add s_icon"></i>-->
                                        <!--<span class="s_txt">多选</span></a></div>-->
                                    <!--<div class="srh_comfire h fl">-->
                                        <!--<button type="submit" class="submit_btn s_btn">确定</button>-->
                                        <!--<button type="reset" class="reset_btn s_btn">取消</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="srh_block clearfix hide "><span class="srh_title fl">特殊功能</span> <a-->
                                    <!--href="javascript:;" class="srh_hold_up"><i class="icon-d-up s_icon"></i> <span-->
                                    <!--class="s_txt">收起</span></a>-->
                                <!--<div class="srh_right clearfix">-->
                                    <!--<div class="srh_option fl">-->
                                        <!--<ul class="clearfix">-->
                                            <!--<li class="fl"><a href="/list-277.html" value-code="277">日期显示</a></li>-->
                                            <!--<li class="fl"><a href="/list-278.html" value-code="278">星期显示</a></li>-->
                                            <!--<li class="fl"><a href="/list-279.html" value-code="279">月份显示</a></li>-->
                                            <!--<li class="fl"><a href="/list-280.html" value-code="280">大三针</a></li>-->
                                            <!--<li class="fl"><a href="/list-281.html" value-code="281">小三针</a></li>-->
                                            <!--<li class="fl"><a href="/list-325.html" value-code="325">透窗</a></li>-->
                                            <!--<li class="fl"><a href="/list-329.html" value-code="329">镂空</a></li>-->
                                            <!--<li class="fl"><a href="/list-283.html" value-code="283">夜光</a></li>-->
                                            <!--<li class="fl"><a href="/list-285.html" value-code="285">双时区（GMT）</a></li>-->
                                            <!--<li class="fl"><a href="/list-295.html" value-code="295">天文台认证</a></li>-->
                                            <!--<li class="fl"><a href="/list-3227.html" value-code="3227">秒表</a></li>-->
                                            <!--<li class="fl"><a href="/list-3231.html" value-code="3231">世界时间</a></li>-->
                                            <!--<li class="fl"><a href="/list-388.html" value-code="388">闹铃</a></li>-->
                                            <!--<li class="fl"><a href="/list-284.html" value-code="284">月相</a></li>-->
                                            <!--<li class="fl"><a href="/list-326.html" value-code="326">日相</a></li>-->
                                            <!--<li class="fl"><a href="/list-287.html" value-code="287">计时</a></li>-->
                                            <!--<li class="fl"><a href="/list-330.html" value-code="330">测速计</a></li>-->
                                            <!--<li class="fl"><a href="/list-288.html" value-code="288">动力储备显示</a></li>-->
                                            <!--<li class="fl"><a href="/list-324.html" value-code="324">限量款</a></li>-->
                                            <!--<li class="fl"><a href="/list-286.html" value-code="286">潜水表</a></li>-->
                                            <!--<li class="fl"><a href="/list-294.html" value-code="294">镶钻表</a></li>-->
                                            <!--<li class="fl"><a href="/list-382.html" value-code="382">飞行员表</a></li>-->
                                            <!--<li class="fl"><a href="/list-719.html" value-code="719">珐琅表</a></li>-->
                                            <!--<li class="fl"><a href="/list-384.html" value-code="384">军表</a></li>-->
                                            <!--<li class="fl"><a href="/list-289.html" value-code="289">防磁</a></li>-->
                                            <!--<li class="fl"><a href="/list-290.html" value-code="290">防震</a></li>-->
                                            <!--<li class="fl"><a href="/list-3182.html" value-code="3182">音乐控制</a></li>-->
                                            <!--<li class="fl"><a href="/list-3013.html" value-code="3013">小秒针</a></li>-->
                                            <!--<li class="fl"><a href="/list-282.html" value-code="282">万年历</a></li>-->
                                            <!--<li class="fl"><a href="/list-328.html" value-code="328">飞返</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                    <!--<div class="srh_more_btn"><a href="javascript:;" class="show_more h"><i-->
                                            <!--class="icon-d-down s_icon"></i> <span class="s_txt">更多</span></a> <a-->
                                            <!--href="javascript:;" class="select_more"><i class="icon-d-add s_icon"></i>-->
                                        <!--<span class="s_txt">多选</span></a></div>-->
                                    <!--<div class="srh_comfire h fl">-->
                                        <!--<button type="submit" class="submit_btn s_btn">确定</button>-->
                                        <!--<button type="reset" class="reset_btn s_btn">取消</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="srh_block clearfix hide "><span class="srh_title fl">防水</span>-->
                                <!--<div class="srh_right clearfix">-->
                                    <!--<div class="srh_option fl">-->
                                        <!--<ul class="clearfix">-->
                                            <!--<li class="fl"><a href="/list-174.html" value-code="174">日常防水</a></li>-->
                                            <!--<li class="fl"><a href="/list-175.html" value-code="175">30米</a></li>-->
                                            <!--<li class="fl"><a href="/list-177.html" value-code="177">50米</a></li>-->
                                            <!--<li class="fl"><a href="/list-178.html" value-code="178">60米</a></li>-->
                                            <!--<li class="fl"><a href="/list-181.html" value-code="181">100米</a></li>-->
                                            <!--<li class="fl"><a href="/list-183.html" value-code="183">150米</a></li>-->
                                            <!--<li class="fl"><a href="/list-184.html" value-code="184">200米</a></li>-->
                                            <!--<li class="fl"><a href="/list-185.html" value-code="185">300米</a></li>-->
                                            <!--<li class="fl"><a href="/list-187.html" value-code="187">500米</a></li>-->
                                            <!--<li class="fl"><a href="/list-189.html" value-code="189">1000米</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                    <!--<div class="srh_more_btn"><a href="javascript:;" class="show_more h"><i-->
                                            <!--class="icon-d-down s_icon"></i> <span class="s_txt">更多</span></a> <a-->
                                            <!--href="javascript:;" class="select_more"><i class="icon-d-add s_icon"></i>-->
                                        <!--<span class="s_txt">多选</span></a></div>-->
                                    <!--<div class="srh_comfire h fl">-->
                                        <!--<button type="submit" class="submit_btn s_btn">确定</button>-->
                                        <!--<button type="reset" class="reset_btn s_btn">取消</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <!--<div class="srh_more_block">-->
                    <!--<div class="toggle_btn"><span class="btn_txt">更多选项（表盘、表带、功能、防水等）</span><span-->
                            <!--class="icon-a-wallet-down1"></span><span-->
                            <!--class="icon-a-wallet-down2"></span></div>-->
                <!--</div>-->
            </div>
            <div class="sa_top">
                <dl class="order_by" id="jiages">
                    <dt>排序：</dt>
                    <dd>
                        <a class="paixu_style"  rel="nofollow" title="点击排序">价格<i class="p_all"></i>
                        </a>
                    </dd>
                    <dd>
                        <a class="down" rel="nofollow" title="点击排序" style="cursor:default">热销</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" title="点击排序">最新<i class=""></i>
                        </a>
                    </dd>
                </dl>
            </div>
            <!--商品展示开始-->
            <ul id="goods_list" class="goods_list w930">
                <li th:each="watch : ${watchsName.content}" >
                    <a target="_blank" th:href="@{'/watch/doWatch.xf/'+${watch.watch_id}}" class="s_goods_img">
                        <img class=" lazy-load" th:src="${watch.watch_image}"
                         th:alt="${watch.watch_name}"> </a>
                    <div class="goods_txt">
                        <p style="text-align: center;" class="red f14 bold">
                            <del class="c666">市场价:￥[[${watch.watch_price}]]</del>
                            好利时价:￥[[${watch.so_price}]]
                        </p>
                        <a target="_blank" th:href="@{'/watch/doWatch.xf/'+${watch.watch_id}}" class="s_goods_name elps2">[[${watch.watch_name}]]</a>
                        <div class="goods_sale">
                            <em class="s_sale_num">销量[[${watch.watch_sellcount}]]</em>
                            <a th:href="@{'/brand/doShop.xf/'+${watch.brand_id}}" class="s_shop">
                                <span> [[${watch.watchBrand.country.c_name}]][[${watch.watchBrand.brand_name}]]官方旗舰店</span></a>
                        </div>
                    </div></li>
            </ul>
            <!--商品展示结束-->
            <div style="clear: both"></div>
            <!--导入分页插件-->
            <!--导入分页插件-->
            <div style="text-align: center">
                <div class="page_nav">
                    <span  class="pre">上一页</span>&nbsp;
                    <div style=" display: inline;" class="page_count">
                    </div>
                    <a   class="next" >下一页</a>&nbsp;
                </div>
                <!-- 翻页 End -->
                <div class="record">
                    共有&nbsp;<span class="pageTotal thred">[[${watchsName.totalPages}]]</span> 页,
                    当前页:【&nbsp;<span class="current_no">[[${watchsName.totalElements+1}]]</span>&nbsp;】
                    ，跳到第&nbsp;
                    <input id="pp" type="text" class="txt" maxlength="4"  value="" />&nbsp;页&nbsp;
                    <a class="btnJtp btn" name="trend" href="javascript:void(0);">确定</a>
                </div>
            </div>
            <div class="sa_share w930">
                <span class="share"> </span>
                <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">

                    <!-- 将此,标记放在您希望显示like按钮的位置 -->
                    <div class="bdlikebutton"></div>

                    <!-- 将此代码放在适当的位置，建议在body结束前 -->
                    <script id="bdlike_shell"></script>

                </div>
            </div>
        </div>

    </div>

    <div id="hot_display_position"></div>
    <div class="leftArea w210">

        <!-- Hot热销推荐 Begin -->
        <div class="hot">
            <div class="h_top">
                <div class="h_tit">热销推荐</div>
            </div>
            <div class="h_mid">
                <ul class="h_link">

                    <li class="h_link_li">
                        <div style="margin-top:10px;">
                            <img alt="" class="lazy" src="/Images/0b5dd78f-0ddd-46ee-acaa-d535d9f0be35.jpg">
                        </div>
                        <ul>
                            <li style="margin-top:15px;" class="red f14 bold">
                                <del class="c666">市场价:￥2950</del>
                                好利时价:￥2950
                            </li>
                            <li style="margin-top:15px;">销量<i>525</i></li>
                            <li> 潜水AQUIS系列 733-7730-4157M</li>
                            <li>日历机械腕表 2018新品</li>
                            <li><b>【豪利时Oris官方旗舰店】</b></li>

                        </ul>
                    </li>
                    <li class="h_link_li">
                        <div style="margin-top:10px;">
                            <img alt="" class="lazy" src="/Images/0b5dd78f-0ddd-46ee-acaa-d535d9f0be35.jpg">
                        </div>
                        <ul>
                            <li style="margin-top:15px;" class="red f14 bold">
                                <del class="c666">市场价:￥2950</del>
                                好利时价:￥2950
                            </li>
                            <li style="margin-top:15px;">销量<i>525</i></li>
                            <li> 潜水AQUIS系列 733-7730-4157M</li>
                            <li>日历机械腕表 2018新品</li>
                            <li><b>【豪利时Oris官方旗舰店】</b></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Hot End -->
        <!-- Hot最近浏览 Begin -->
        <div class="hot">
            <div class="h_top">
                <div class="h_tit">最近浏览</div>
            </div>
            <div class="h_mid">
                <ul class="h_link">

                    <li class="h_link_li">
                        <div style="margin-top:10px;">
                            <img alt="" class="lazy" src="/Images/0b5dd78f-0ddd-46ee-acaa-d535d9f0be35.jpg">
                        </div>
                        <ul>
                            <li style="margin-top:15px;" class="red f14 bold">
                                <del class="c666">市场价:￥2950</del>
                                好利时价:￥2950
                            </li>
                            <li style="margin-top:15px;">销量<i>525</i></li>
                            <li> 潜水AQUIS系列 733-7730-4157M</li>
                            <li>日历机械腕表 2018新品</li>
                            <li><b>【豪利时Oris官方旗舰店】</b></li>

                        </ul>
                    </li>
                    <li class="h_link_li">
                        <div style="margin-top:10px;">
                            <img alt="" class="lazy" src="/Images/0b5dd78f-0ddd-46ee-acaa-d535d9f0be35.jpg">
                        </div>
                        <ul>
                            <li style="margin-top:15px;" class="red f14 bold">
                                <del class="c666">市场价:￥2950</del>
                                好利时价:￥2950
                            </li>
                            <li style="margin-top:15px;">销量<i>525</i></li>
                            <li> 潜水AQUIS系列 733-7730-4157M</li>
                            <li>日历机械腕表 2018新品</li>
                            <li><b>【豪利时Oris官方旗舰店】</b></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Hot最近浏览结束 End -->

    </div>


</div>
<!-- Main End -->


<!-- 导入底部 -->
<div th:insert="~{common/footer :: foot}"></div>
<div id="floatBox">
    <div id="return">
        <a href="javascript:void(0);" class="c__gotop" title="返回顶部"
           style="display:none;" rel="nofollow"></a>
    </div>
</div>

</body>
<script src="/js/jquery-3.4.1.js"></script>
<script src="/js/os.js"></script>
</html>
