<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/pingjia.css">
</head>
<body>
<div class="evaluate">
    <div class="evaluate_title">商品评论</div>
    <div class="evaluate_score clearfix">
        <div class="evaluate_score_a fl">
            <div class="evaluate_score_a_a fl">99</div>
            <div class="evaluate_score_a_b fl">
                <div>好评度</div>
                <div class="evaluate_score_a_b_a">%</div>
            </div>
        </div>
        <div class="evaluate_score_b fl" id="gnTag3">
            <div class="evaluate_score_b_a action fl">全部评价(1449)</div>
            <div class="evaluate_score_b_b fl">有图(156)</div>
        </div>
    </div>
    <div class="evaluate_content clearfix" id="gnContent3">
        <div class="tab_evaluate">
            <div class="wholeTwo">
                <li class="clearfix js_evaluate">
                    <div class="left fl">
                        <div class="left_logo "><img
                                src="//image8.wbiao.co/member/0be58bd8-4ad5-47b2-a845-e0716aa30e6e.jpg" alt="" width="50px"></div>
                        <div class="left_name js_name">独狼</div>
                    </div>
                    <div class="right fl js_star">
                        <div class="clearfix">
                            <div class="right_star fl" data-index="4"><span class="icon-a-goods-wuxing fl"></span><span
                                    class="icon-a-goods-wuxing fl"></span><span
                                    class="icon-a-goods-wuxing fl"></span><span class="icon-a-goods-wuxing fl"></span>
                            </div>
                            <div class="right_grade fl" style="background-color:#FFBF80">金卡会员</div>
                        </div>
                        <div class="right_pinyu">表挺精致，蝴蝶扣有点咯手，才戴两天走时还可以，就是表冠自动弹出过两回，不知撒状况，也不知是不是正品，等有机会去验下真伪</div>
                        <div class="video_img_box clearfix">
                            <div class="video_box fl" video-id="e51280d355614460afa097646bc8ce58"><span></span> <img
                                    class="comment_video fl"
                                    src="//image8.wbiao.co/comment/c73a368b-6636-4b9b-a79e-d7ce8c11e3d1.jpg?x-oss-process=image/resize,m_fill,w_106,h_106,color_ffffff"
                                    alt=""></div>
                            <div class="right_img fl clearfix load-evaluate"><a class="fl"><img
                                    src="//image8.wbiao.co/comment/96bcac7b-cf9f-4bba-8f4c-c3c34ec5dde2.jpg?x-oss-process=image/resize,m_fill,w_106,h_106,color_f1f1f1"
                                    alt=""
                                    data-index="//image8.wbiao.co/comment/96bcac7b-cf9f-4bba-8f4c-c3c34ec5dde2.jpg?x-oss-process=image/resize,m_pad,w_700,h_700,color_ffffff/watermark,image_c2hvcC9sb2dvLWljb24ucG5n,t_100,g_center"></a>
                            </div>
                        </div>
                        <div class="right_time"><span>2019-11-25 23:55:21</span><span>钢 银色 精钢</span></div>
                        <div class="right_kefu"><span class="right_kefu_a">［客服回复］:</span> <span class="right_kefu_b">您好！万表出售的手表原装正品，假一赔三，请放心。如果在使用过程中有任何问题，欢迎随时联系我们客服小姐姐，谢谢！</span>
                        </div>
                        <div class="right_kefu_time">2019-11-26 09:10:25</div>
                    </div>
                </li>
                <li class="clearfix js_evaluate">
                    <div class="left fl">
                        <div class="left_logo icon-a-goods-head"></div>
                        <div class="left_name js_name">wb5639473</div>
                    </div>
                    <div class="right fl js_star">
                        <div class="clearfix">
                            <div class="right_star fl" data-index="5"><span class="icon-a-goods-wuxing fl"></span><span
                                    class="icon-a-goods-wuxing fl"></span><span
                                    class="icon-a-goods-wuxing fl"></span><span
                                    class="icon-a-goods-wuxing fl"></span><span class="icon-a-goods-wuxing fl"></span>
                            </div>
                            <div class="right_grade fl" style="background-color:#FFBF80">金卡会员</div>
                        </div>
                        <div class="right_pinyu">应该是真的吧。就是保修卡不是天梭的是他们自己的万表的。。等鉴定真伪就知道了</div>
                        <div class="video_img_box clearfix">
                            <div class="video_box fl" video-id="96db9b8d789a4768bd077bdab1b539ad"><span></span> <img
                                    class="comment_video fl"
                                    src="//image8.wbiao.co/comment/ios-ce9c00671c1b4b1797ffd2a4e8025e4c.jpg?x-oss-process=image/resize,m_fill,w_106,h_106,color_ffffff"
                                    alt=""></div>
                        </div>
                        <div class="right_time"><span>2019-11-30 20:26:51</span><span>钢 银色 精钢</span></div>
                        <div class="right_kefu"><span class="right_kefu_a">［客服回复］:</span> <span class="right_kefu_b">您好！万表出售的手表原装正品，假一赔三，请放心。另外，手表是专柜调货为专柜盖章，您可以联系我们售后小姐姐核实，如果在使用过程中有任何问题，欢迎随时联系我们客服小姐姐，谢谢！</span>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</div>

                    <script type="text/javascript" src="/js/pingjia.js"></script>
</body>

</html>