<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <title>好利时手表网【官网】：中国最大的正品名表商城！买手表，上好利时手表！</title>
    <meta name="keywords" content="手表,买手表,好利时手表网,好利时手表网官网,名表商城,正品手表，瑞士手表"/>
    <meta name="description"
          content="【好利时手表网官网】：买原装正品世界名表：浪琴、天梭、欧米茄、劳力士等瑞士手表品牌，信用卡分期付款，正品保证，全国联保，终身售后保障！"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>

    <!--[if lte IE 6]>
    <![endif]-->
    <link href="/css/magiczoomplus.css" type="text/css"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/xiangxi.css">
    <link rel="stylesheet" href="/css/fancybox.css">
    <link rel="stylesheet" href="/css/goods.css">
    <link rel="stylesheet" href="/css/seckillXiangxi.css">
    <!--引入头部css样式等文件-->
    <head th:insert="~{common/header :: header-head}"></head>
    <!--放大镜定义-->
    <script type="text/javascript"
            src="/Script/mzp-packed.js"></script>
    <style type="text/css">
        * html, * html body /* 修正IE6振动bug */
        {
            /*background-image: url(/Images/about:blank);*/
            background-attachment: fixed;
        }

        * html .fixed-top /* IE6 头部固定 */
        {
            position: absolute;
            left: auto;
        }
    </style>



</head>
<body>
<!-- Begin header -->
<div id="member_info2"></div>
<input type="hidden" id="s" value="0"/>


<!-- 导入头部 内容-->
<body th:insert="~{common/header :: header-body}"></body>
<div id="main2">
    <div class="map">
        <div class="map_info">
            当前位置: <a href="index.html">秒杀详情页</a>
            <code>&gt;</code>
            <a href="">[[${brand.country.c_name+brand.brand_name }]]官方旗舰店</a>
            <code>&gt;</code>
            <a href="">[[${seckill.tbWatchs.watch_name}]]</a>
        </div>
    </div>
    <div class="banner_2">
        <img src="/Images/bannerinfo.jpg"/>
    </div>
    <div class="shop_info1 clearfix">
        <div class="shop_info1_img">
            <div class="left-pro">
                <div class="t2">
                    <a href="" id="zoom1"
                       class="MagicZoom MagicThumb">
                        <img th:src="${seckill.tbWatchs.watch_image}" width="350" height="350"
                             class="main_img" id="main_img" style="width: 400px; height: 400px;"/>
                    </a>
                </div>
                <div class="t1">
                    <div id="showArea">

                        <!--<a href="" rel="zoom1" rev="/Images/1a7300bbbb8d459a8e7b62eae9e6e733.jpg">-->
                        <!--<img th:src="${watch.watch_image}"/>-->
                        <!--</a>-->
                        <a th:each="images : ${watch_images}" th:if="${images.images_type} eq 'exhibition'" href="" class="image_detail" rel="zoom1" rev="">
                            <img th:src="${images.images}"/>
                        </a>
                        <!--<a href="" rel="zoom1" rev="">-->
                        <!--<img src="/Images/1a7300bbbb8d459a8e7b62eae9e6e733.jpg"/>-->
                        <!--</a>-->
                        <!--<a href="" rel="zoom1" rev="">-->
                        <!--<img src="/Images/0b5dd78f-0ddd-46ee-acaa-d535d9f0be35.jpg"/>-->
                        <!--</a>-->
                        <!--<a href="" rel="zoom1" rev="">-->
                        <!--<img src="/Images/0b5dd78f-0ddd-46ee-acaa-d535d9f0be35.jpg"/>-->
                        <!--</a>-->
                    </div>
                </div>
            </div>
            <!--end left-por-->
        </div>
        <!--end shop_img-->
        <div class="shop_info1_tit">
            <div class="text_life">
                <h1 th:if="${brand}" class="shop_tit">【[[${brand.brand_name}]]】&nbsp;&nbsp;[[${seckill.tbWatchs.watch_name}]]</h1>
                <span class="mc" th:if="${seckill.tbWatchs}">[[${seckill.tbWatchs.watch_descript}]]</span>
                <div class="upper_price_jiage clearfix">
                    <div class="upper_price_jiage_left fl">好利时价</div>
                    <div class="upper_price_jiage_right fl">
                        <span class="upper_price_jiage_a">￥</span>
                        <span class="upper_price_jiage_b js_price" th:if="${seckill.tbWatchs}">[[${seckill.tbWatchs.so_price}]]</span>
                        <span class="upper_price_jiage_c">
                            <em>市场价</em> <i th:if="${seckill.tbWatchs}">￥[[${seckill.tbWatchs.watch_price}]]</i>
                        </span>
                        <a href="#">(促销通知)</a>
                    </div>
                </div>
                <div class="fuqi">
                    <span class="fq1">分期价：</span>
                    <span class="fq2" th:if="${seckill.tbWatchs}">[[${seckill.tbWatchs.so_price / 12}]]×12期</span>
                    <a href="#">如需了解更多活动详情或推荐，请咨询在线客服</a>
                </div>
                <div class="peisong">
                    <span>中国大陆，下单后17点前支付，当天发货</span>
                </div>
            </div>
            <div class="xian clearfix"></div>
            <div class="promise clearfix">
                <div class="left fl">承诺</div>
                <div class="right fl">
                    <li class="fl"><i></i> <span class="">正品保障</span>
                        <div class="popup" style="display: none;">
                            全站自营直采，高于瑞士国家标准的进出仓全检机制，万表7年零假货投诉。
                        </div>
                    </li>
                    <li class="fl"><i></i> <span>正规发票</span>
                        <div class="popup" style="display: none;">
                            提供国家税务局认可的正规发票，具有售后维权法律效力。
                        </div>
                    </li>
                    <li class="fl"><i></i> <span class="">假一赔三</span>
                        <div class="popup" style="display: none;">
                            已售出名表超过45万枚，正品无假货，如有售假三倍赔偿。
                        </div>
                    </li>
                    <li class="fl"><i></i> <span>7天退换</span>
                        <div class="popup" style="display: none;">
                            无理由退换：除特殊商品外（特卖、私人定制、预售等）质量退换：非人为机芯故障或商品制造缺陷。
                        </div>
                    </li>
                    <li class="fl"><i></i> <span class="">全球联保</span>
                        <div class="popup" style="display: none;">
                            800+家售后服务点，完善的售后保障，可享受品牌全球联保服务。
                        </div>
                    </li>
                    <li class="fl"><i></i> <span>免息分期</span>
                        <div class="popup" style="display: none;">
                            与15家银行合作，招商、中行等提供免息分期购表服务。
                        </div>
                    </li>
                    <li class="fl"><i></i> <span>专人送货</span>
                        <div class="popup" style="display: none;">
                            高级腕表由VIP专员专人送到客户手中。
                        </div>
                    </li>
                </div>
            </div>
            <div class="yanse">
                <span class="ys1">款式：</span> <span class="ys2"></span>
            </div>
            <div class="upper_style_right fl __web-inspector-hide-shortcut__">
                <a  style="width: 25%;">
                    <span class="upper_style_right_img fl">
                        <img th:src="${seckill.tbWatchs.watch_image}" alt="点击查看"></span>
                    <span class="upper_style_right_text fl">[[${w_parameter.parameter_name}]]</span>
                </a>
            </div>
            <div class="goumai" style="width: 300px;">
                <!--<div>-->
                <div class="fl">
                    <a style="color: white;"  class="seckillStart"><span></span></a>
                </div>
                <!--<div class="fl">-->
                    <!--<a id="addGwc">加入购物车</a>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <div class="seckill_date">
                <input type="hidden" class="watch_id" th:value="${seckill.seckill_id}"/>
                <div>开始时间:<span class="start_time">[[${#dates.format(seckill.start_time, 'yyyy-MM-dd:hh:mm:ss')}]]</span></div>
                <div>结束时间:<span class="end_time">[[${#dates.format(seckill.end_time, 'yyyy-MM-dd:hh:mm:ss')}]]</span></div>
            </div>

                <!--<input class="start_time" type="hidden" th:value="${#dates.format(seckill.start_time, 'yyyy-MM-dd:hh:mm:ss')}"/>-->
                <!--<input class="end_time" type="hidden" th:value="${#dates.format(seckill.end_time, 'yyyy-MM-dd:hh:mm:ss')}"/>-->
            <!--秒杀图片显示-->
            <!--<div class="se-kl">-->
                <!--<input class="start_time" type="hidden" th:value="${#dates.format(seckill.start_time, 'yyyy-MM-dd:hh:mm:ss')}"/>-->
                <!--<input class="end_time" type="hidden" th:value="${#dates.format(seckill.end_time, 'yyyy-MM-dd:hh:mm:ss')}"/>-->
                <!--<div class="se-cn">倒计时</div>-->
                <!--<div class="se-en">COUNT DOWN</div>-->
                <!--<i class="se-io"></i>-->
                <!--<div class="se-info">距离结束还剩</div>-->
                <!--<div class="se-count">-->
                    <!--<div class="se-day"></div>-->
                    <!--<div class="se-hour"><span class="se-txt">00</span></div>-->
                    <!--<div class="se-min"><span class="se-txt">53</span></div>-->
                    <!--<div class="se-sec"><span class="se-txt">55</span></div>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <div class="clear"></div>
        <div id="rightArea" class="w995">
            <div id="fixed" class="w994 fixed-top">
                <ul class="subnav">
                    <li   >
                        <a  href="javascript:void(0);" id="d" alt="#desc">商品详情</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" id="q" alt="#quality"
                           onclick="javascript:show_quality();">规格参数
                        </a>
                    </li>
                    <li><a onclick="javascript:show_story('epos');" id="s2"
                           alt="#story">品牌故事</a>
                    </li>
                    <li><a href="javascript:void(0);" id="n" alt="#nous"
                           onclick="javascript:show_nous();">手表常识</a>
                    </li>
                    <li class="comment">
                        <a  id="c" alt="#comment">用户评价
                        (<span class="red">22</span>) </a>
                    </li>
                </ul>
                <a href="javascript:void(0);" title="立即购买"
                   onclick="javascript:$('#buy_now').click();"></a>
            </div>
            <!-- 商品详情 Begin -->
            <div id="desc" class="commodity_details column">
                <div class="null">&nbsp;</div>
                <div class="tips">
                    <span><s class="light-icon"></s>好利时手表网承诺：我们出售的每一枚手表均为原装正品、假一赔十、凭联保卡可享受全球联保，请放心购买。</span>
                </div>
                <div class="clear"></div>
                <div class="showImg goodsImg">
                    <div class="photo">&nbsp;</div>
                    <div class="pdtDtlSet">
                        <img  th:each="images : ${watch_images}" th:if="${images.images_type} eq 'introduce'" alt="" th:src="${images.images}" class="lazy"
                              data-original=""  />
                    </div>
                </div>
                <div id="certificate">
                    <div class="g_t">
                        <div class="ico c"></div>
                        <div style="width: 100%; float: left; position: relative;">
                            <span class="lbg w197"></span> <span class="rbg"></span>
                        </div>
                    </div>
                    <div class="g_c tc">
                        <img src="/Images/blank.gif" class="lazy"
                             data-original="http://img2.wbiao.cn/brand/201403/31/139625460707684.jpg"
                             alt="相关证书"/>
                    </div>
                </div>
                <div id="product">
                    <div class="g_t">
                        <div class="ico p"></div>
                        <div style="width: 100%; float: left; position: relative;">
                            <span class="lbg w197"></span> <span class="rbg"></span>
                        </div>
                    </div>
                    <div class="g_c tc">
                        <img src="/Images/blank.gif" class="lazy"
                             data-original="http://img2.wbiao.cn/brand/201404/10/139709208906686.jpg"
                             alt="包装盒"/>
                    </div>
                </div>
                <div id="master">
                    <div class="g_t">
                        <div class="ico m"></div>
                        <div style="width: 100%; float: left; position: relative;">
                            <span class="lbg w165"></span> <span class="rbg"></span>
                        </div>
                    </div>
                    <div class="g_c">
                        <p class="xb">爱宝时，近一个世纪的古老制表品牌，在瑞士享誉盛名，得到众多名流的热爱与推崇。这款爱宝时EPOS-Passion系列
                            3412.183.24.30.27
                            男士机械表，典雅白色表盘，十二点钟位置独特镂空透窗，大气金色柳叶指针时尚大方；搭配简洁金色数字刻度，简约大气。镀金表壳彰显儒雅风范，搭载瑞士原装
                            UT 6497 OH 手动机械机芯，高档真皮腕带与针扣设计舒适贴腕，给手腕以最舒适的享受，背透表底，满足您对机芯运作的细致观察。</p>
                    </div>
                </div>
            </div>
            <!-- 商品详情 End -->
            <!--规格参数 Begin -->
            <div id="quality" class="commodity_details column hide quality quality">
                <div class="series w995">
                    <div class="t">基本参数：</div>
                    <ul th:if="${w_parameter}" class="ul_parameter">
                        <li th:if="${watchSeries}" >系列：[[${watchSeries.series_name}]]</li>
                        <li th:if="${w_parameter.style}">款式：[[${w_parameter.style}]]</li>
                        <li th:if="${w_parameter.movement_type}">机芯：[[${w_parameter.movement_type}]]</li>
                        <li th:if="${w_parameter.movement_type_no}" class="li248"  >机芯型号：[[${w_parameter.movement_type_no}]]</li>
                        <li th:if="${w_parameter.w_case}">表壳：[[${w_parameter.w_case}]]</li>
                        <li  th:if="${w_parameter.width}">尺寸：[[${w_parameter.width}]]mm</li>
                        <li  th:if="${w_parameter.thickness}">厚度：[[${w_parameter.thickness}]]mm</li>
                        <li th:if="${w_parameter.crown} " >表冠：[[${w_parameter.crown}]]</li>
                        <!--<li >表底：[[${w_parameter.movement_type}]]</li>-->
                        <li  th:if="${w_parameter.specular_shading}" >表镜：[[${w_parameter.special_functions}]]</li>
                        <li th:if="${w_parameter.shell_color}" >表盘：[[${w_parameter.shell_color}]]</li>
                        <li th:if="${w_parameter.band_material}" class="li248" >表带材质：[[${w_parameter.band_material}]]</li>
                        <li  th:if="${w_parameter.color}">表带颜色：[[${w_parameter.color}]]</li>
                        <li th:if="${w_parameter.watch_ear!=null}">表耳：[[${w_parameter.watch_ear}]]</li>
                        <li  th:if="${w_parameter.waterproof}">防水：[[${w_parameter.waterproof}]]</li>
                        <li  th:if="${w_parameter.specular_shading}">特殊功能：[[${w_parameter.specular_shading}]]</li>
                        <li  th:if="${w_parameter.listing_date}" >上市日期：[[${w_parameter.listing_date}]]</li>
                        <li class="li248" >包装：精美包装盒、说明书、保修卡</li>
                    </ul>
                </div>
            </div>
            <!-- 规格参数 End -->
            <div class="clear"></div>
            <!-- 品牌故事 Begin -->
            <div id="story" class="commodity_details column hide story" data=""></div>
            <!-- 品牌故事 End -->
            <!-- 手表常识 Begin -->
            <div id="nous" class="commodity_details column hide nous"></div>
            <!-- 手表常识 End -->
            <!-- 评论 Begin-->
            <div class="commodity_details tab_content" >
                <div class="evaluate">
                    <div class="evaluate_title">商品评论</div>
                    <div class="evaluate_score clearfix">
                        <div class="evaluate_score_a fl">
                            <div class="evaluate_score_a_a fl">99</div>
                            <div class="evaluate_score_a_b fl">
                                <div>好评度</div>
                                <div class="evaluate_score_a_b_a">%</div>
                            </div>
                        </div>
                        <div class="evaluate_score_b fl" id="gnTag3">
                            <div class="evaluate_score_b_a action fl">全部评价(1628)</div>
                            <div class="evaluate_score_b_b fl">有图(234)</div>
                        </div>
                    </div>
                    <div class="evaluate_content clearfix" id="gnContent3">
                        <div class="tab_evaluate">
                            <div class="wholeTwo">
                                <li class="clearfix js_evaluate">
                                    <div class="left fl">
                                        <div class="left_logo ">
                                            <img src="//image8.wbiao.co/member/0be58bd8-4ad5-47b2-a845-e0716aa30e6e.jpg"
                                                 alt="">
                                        </div>
                                        <div class="left_name js_name">独狼</div>
                                    </div>
                                    <div class="right fl js_star">
                                        <div class="clearfix">
                                            <div class="right_star fl" data-index="4">
                                                <span class="icon-a-goods-wuxing fl"></span>
                                                <span class="icon-a-goods-wuxing fl"></span>
                                                <span class="icon-a-goods-wuxing fl"></span>
                                                <span class="icon-a-goods-wuxing fl"></span>
                                            </div>
                                            <div class="right_grade fl" style="background-color:#FFBF80">金卡会员</div>
                                        </div>
                                        <div class="right_pinyu">
                                            表挺精致，蝴蝶扣有点咯手，才戴两天走时还可以，就是表冠自动弹出过两回，不知撒状况，也不知是不是正品，等有机会去验下真伪
                                        </div>
                                        <div class="video_img_box clearfix">
                                            <div class="video_box fl" video-id="e51280d355614460afa097646bc8ce58">
                                                <span></span> <img class="comment_video fl"
                                                                   src="//image8.wbiao.co/comment/c73a368b-6636-4b9b-a79e-d7ce8c11e3d1.jpg?x-oss-process=image/resize,m_fill,w_106,h_106,color_ffffff"
                                                                   alt=""></div>
                                            <div class="right_img fl clearfix load-evaluate"><a class="fl"><img
                                                    src="//image8.wbiao.co/comment/96bcac7b-cf9f-4bba-8f4c-c3c34ec5dde2.jpg?x-oss-process=image/resize,m_fill,w_106,h_106,color_f1f1f1"
                                                    alt=""
                                                    data-index="//image8.wbiao.co/comment/96bcac7b-cf9f-4bba-8f4c-c3c34ec5dde2.jpg?x-oss-process=image/resize,m_pad,w_700,h_700,color_ffffff/watermark,image_c2hvcC9sb2dvLWljb24ucG5n,t_100,g_center"></a>
                                            </div>
                                        </div>
                                        <div class="right_time"><span>2019-11-25 23:55:21</span><span>钢 银色 精钢</span>
                                        </div>
                                        <div class="right_kefu"><span class="right_kefu_a">［客服回复］:</span> <span
                                                class="right_kefu_b">您好！万表出售的手表原装正品，假一赔三，请放心。如果在使用过程中有任何问题，欢迎随时联系我们客服小姐姐，谢谢！</span>
                                        </div>
                                        <div class="right_kefu_time">2019-11-26 09:10:25</div>
                                    </div>
                                </li>
                            </div>
                            <div class="evaluate_pag clearfix">
                                <ul class="pagination center commentTwo" data-pager-total="1628"><span
                                        class="red">1</span><a href="javascript:;" data-page="2">2</a><span>...</span><a
                                        href="javascript:;" data-page="82">82</a><a href="javascript:;" class="next">&gt;</a>
                                </ul>
                            </div>
                        </div>
                        <div class="tab_evaluate">
                            <div class="wholeTwo_img">
                                <li class="clearfix js_evaluate">
                                    <div class="left fl">
                                        <div class="left_logo ">
                                            <img src="//image8.wbiao.co/member/0be58bd8-4ad5-47b2-a845-e0716aa30e6e.jpg" alt="">
                                        </div>
                                        <div class="left_name js_name">独狼</div>
                                    </div>
                                    <div class="right fl js_star">
                                        <div class="clearfix">
                                            <div class="right_star fl" data-index="4"><span
                                                    class="icon-a-goods-wuxing fl"></span><span
                                                    class="icon-a-goods-wuxing fl"></span><span
                                                    class="icon-a-goods-wuxing fl"></span><span
                                                    class="icon-a-goods-wuxing fl"></span></div>
                                            <div class="right_grade fl" style="background-color:#FFBF80">金卡会员</div>
                                        </div>
                                        <div class="right_pinyu">
                                            表挺精致，蝴蝶扣有点咯手，才戴两天走时还可以，就是表冠自动弹出过两回，不知撒状况，也不知是不是正品，等有机会去验下真伪
                                        </div>
                                        <div class="video_img_box clearfix">
                                            <div class="video_box fl" video-id="e51280d355614460afa097646bc8ce58">
                                                <span></span> <img class="comment_video fl"
                                                                   src="//image8.wbiao.co/comment/c73a368b-6636-4b9b-a79e-d7ce8c11e3d1.jpg?x-oss-process=image/resize,m_fill,w_106,h_106,color_ffffff"
                                                                   alt=""></div>
                                            <div class="right_img fl clearfix loadImg-evaluate"><a class="fl">
                                                <img  src="//static.wbiao.co/p/pc/images/1/fix-b.png"
                                                      evaluate-img="//image8.wbiao.co/comment/96bcac7b-cf9f-4bba-8f4c-c3c34ec5dde2.jpg?x-oss-process=image/resize,m_fill,w_106,h_106,color_f1f1f1"
                                                      alt=""
                                                      data-index="//image8.wbiao.co/comment/96bcac7b-cf9f-4bba-8f4c-c3c34ec5dde2.jpg?x-oss-process=image/resize,m_pad,w_700,h_700,color_ffffff/watermark,image_c2hvcC9sb2dvLWljb24ucG5n,t_100,g_center"></a>
                                            </div>
                                        </div>
                                        <div class="right_time">
                                            <span>2019-11-25 23:55:21</span>
                                            <span>钢 银色 精钢</span>
                                        </div>
                                        <div class="right_kefu">
                                            <span class="right_kefu_a">［客服回复］:</span>
                                            <span class="right_kefu_b">您好！万表出售的手表原装正品，假一赔三，请放心
                                                。如果在使用过程中有任何问题，欢迎随时联系我们客服小姐姐，谢谢！</span>
                                        </div>
                                        <div class="right_kefu_time">2019-11-26 09:10:25</div>
                                    </div>
                                </li>
                            </div>
                            <div class="evaluate_pag clearfix">
                                <ul class="pagination center commentTwo_img" data-pager-total="234">
                                    <span class="red">1</span>
                                    <a href="javascript:;" data-page="2">2</a>
                                    <span>...</span>
                                    <a href="javascript:;" data-page="12">12</a>
                                    <a href="javascript:;" class="next">&gt;</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 评论 End -->
            <!-- 你可能感兴趣 End -->
        </div>
        <!--rightArea:end-->
        <div id="leftArea">
            <!--hot:begin-->
            <div class="hot">
                <div class="h_top">
                    <div class="h_tit">爱宝时表热销排行</div>
                </div>
                <div class="h_mid">
                    <a rel="nofollow" class="h_link" href="http://www.sxgoing.comepos-g25523.jsp" target="_blank">
                        <img src="//image8.wbiao.co/shop/28cc3cbbf68a49afb3186dc8bef4c345.jpg?x-oss-process=image/resize,m_pad,h_350"
                             class="lazy" alt="瑞士爱宝时（EPOS）-Passion系列 3412.183.24.30.27 机械男表">
                        <ul>
                            <li style="margin-top: 28px;"><b>爱宝时</b></li>
                            <li>Passion系列</li>
                            <li>男士机械表</li>
                            <li style="margin-top: 10px;" class="red f14 bold">￥9500</li>
                            <li>
                                <del class="c666">￥9500</del>
                            </li>
                        </ul>
                    </a> <a rel="nofollow" class="h_link" href="http://www.sxgoing.comepos-g25521.jsp" target="_blank">
                    <img src="//image8.wbiao.co/shop/28cc3cbbf68a49afb3186dc8bef4c345.jpg?x-oss-process=image/resize,m_pad,h_350"
                         class="lazy" alt="瑞士爱宝时（EPOS）-Passion系列 3412.183.20.34.25 机械男表">
                    <ul>
                        <li style="margin-top: 28px;"><b>爱宝时</b></li>
                        <li>Passion系列</li>
                        <li>男士机械表</li>
                        <li style="margin-top: 10px;" class="red f14 bold">￥8850</li>
                        <li>
                            <del class="c666">￥8850</del>
                        </li>
                    </ul>
                </a> <a rel="nofollow" class="h_link" href="http://www.sxgoing.comepos-g25377.jsp" target="_blank">
                    <img src="//image8.wbiao.co/shop/28cc3cbbf68a49afb3186dc8bef4c345.jpg?x-oss-process=image/resize,m_pad,h_350"
                         class="lazy" alt="瑞士爱宝时（EPOS）-Originale系列 3387.152.20.20.15 机械男表">
                    <ul>
                        <li style="margin-top: 28px;"><b>爱宝时</b></li>
                        <li>Originale系列</li>
                        <li>男士机械表</li>
                        <li style="margin-top: 10px;" class="red f14 bold">￥6580</li>
                        <li>
                            <del class="c666">￥6580</del>
                        </li>
                    </ul>
                </a> <a rel="nofollow" class="h_link" href="http://www.sxgoing.comepos-g25533.jsp" target="_blank">
                    <img src="//image8.wbiao.co/shop/28cc3cbbf68a49afb3186dc8bef4c345.jpg?x-oss-process=image/resize,m_pad,h_350"
                         class="lazy" alt="瑞士爱宝时（EPOS）-Originale系列 3420.152.20.16.30 机械男表">
                    <ul>
                        <li style="margin-top: 28px;"><b>爱宝时</b></li>
                        <li>Originale系列</li>
                        <li>男士机械表</li>
                        <li style="margin-top: 10px;" class="red f14 bold">￥8100</li>
                        <li>
                            <del class="c666">￥8100</del>
                        </li>
                    </ul>
                </a> <a rel="nofollow" class="h_link" href="http://www.wbiao.cn/epos-g25536.html" target="_blank">
                    <img src="//image8.wbiao.co/shop/28cc3cbbf68a49afb3186dc8bef4c345.jpg?x-oss-process=image/resize,m_pad,h_350"
                         class="lazy" alt="瑞士爱宝时（EPOS）-Originale系列 3420.152.24.14.15 机械男表">
                    <ul>
                        <li style="margin-top: 28px;"><b>爱宝时</b></li>
                        <li>Originale系列</li>
                        <li>男士机械表</li>
                        <li style="margin-top: 10px;" class="red f14 bold">￥7300</li>
                        <li>
                            <del class="c666">￥7300</del>
                        </li>
                    </ul>
                </a>
                </div>
            </div>
            <!--hot:end-->

            <!-- 最新活动广告(左下) Begin -->
            <!--    <div style="margin-bottom: 10px;">
                    <a href="http://data.wbiao.cn/ad.php?ad_id=988" target="_blank"
                       rel="nofollow"
                       onclick="_gaq.push(['_trackEvent','lie-biao','zuo-xia__1','http://data.wbiao.cn/ad.php?ad_id=988']);"><img
                            src="//image8.wbiao.co/shop/28cc3cbbf68a49afb3186dc8bef4c345.jpg?x-oss-process=image/resize,m_pad,h_350" class="lazy"

                            alt="赫柏林"/></a>
                </div>-->
            <!--           <div style="margin-bottom: 10px;">
                           <a href="http://data.wbiao.cn/ad.php?ad_id=624" target="_blank"
                              rel="nofollow"
                              onclick="_gaq.push(['_trackEvent','lie-biao','zuo-xia__2','http://data.wbiao.cn/ad.php?ad_id=624']);"><img
                                   width="210" src="//image8.wbiao.co/shop/28cc3cbbf68a49afb3186dc8bef4c345.jpg?x-oss-process=image/resize,m_pad,h_350" class="lazy"
                                   data-original="http://img2.wbiao.cn/ad/201311/14/138442341925235.jpg"
                                   alt="CYS"/></a>
                       </div>
                       <div style="margin-bottom: 10px;">
                           <a href="http://data.wbiao.cn/ad.php?ad_id=1135" target="_blank"
                              rel="nofollow"
                              onclick="_gaq.push(['_trackEvent','lie-biao','zuo-xia__3','http://data.wbiao.cn/ad.php?ad_id=1135']);"><img
                                   src="/Images/blank.gif" class="lazy"
                                   data-original="http://img2.wbiao.cn/ad/201403/20/139529428295444.jpg"
                                   alt="招行特惠"/></a>
                       </div>-->
            <!-- 最新活动广告(左下) End -->
            <!--history:begin-->
            <!--history:end-->
        </div>
        <!--leftArea:end-->
        <div id='fancybox-content' style="display: none"></div>
    </div>
    <!--end shop_info1-->

</div>

<!--goods:end-->
<!--main2:end-->

<link rel="stylesheet" href="/css/jqzoom.css"
      type="text/css">
<script type="text/javascript" src="/Script/jqzoom.js"></script>

<div id="dsp" style="display: none;"></div>
<div style="display: none;"></div>


<!-- 导入底部 -->
<div th:insert="~{common/footer :: foot}"></div>
<div id="floatBox">
    <div id="return">
        <a href="javascript:void(0);" class="c__gotop" title="返回顶部"
           style="display: none;" rel="nofollow"></a>
    </div>
</div>
<script type="text/javascript" src="/js/seckillXiangxi.js"></script>
</body>

</html>
