<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>提交订单</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
<link rel="stylesheet" href="/css/goods.css">
<link rel="stylesheet" href="/css/fancybox.css">
<link rel="stylesheet" href="/css/2.css">
<link href="/js/cityselect20160808/cityselect/cityLayout.css" type="text/css" rel="stylesheet">
	<link  rel="stylesheet"  href="/css/toastr.css">
<!--[if lte IE 6]>
<link rel="stylesheet" href="http://qd.wbiao.cn/src2/css/common/3.0/ie6.css?t=201307300952">
<![endif]-->

<style>
		#main {
			overflow: visible;
		}

		input.error {
			border: 1px solid #d00000;
		}

		label.error {
			position: absolute;
			top: -15px;
			left: 5px;
			color: #fff !important;
			background-color: #d00000;
			font-size: 12px;
			height: 16px;
			line-height: 16px;
			text-align: center;
			display: block;
		}
</style>
    <link rel="stylesheet" href="../css/goods.css">
</head>
<script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="/js/toastr.js"></script>
<body >

	<div id="member_info2"></div>
	<div id="header">
		<div class="top">
			<ul>
				<li id="member_info">
					<span id="loginInfo" th:if="${session.Joy_User!=null}" th:name="${session.Joy_User.u_id}">[[${session.Joy_User.u_name}]],欢迎你	&nbsp;&nbsp; &nbsp; </span>
            		<a th:if="${session.Joy_User!=null}" href="/user/logout.xf" class="f12">退出</a>
					<a th:if="${session.Joy_User==null}" href="/user/login.xf" title="登录" rel="nofollow">请登录</a>
				</li>
				<li>&nbsp;|&nbsp;</li>
				<li><a href="huiyuan.html" rel="nofollow" title="我的订单">我的订单</a>
				</li>
				<li>&nbsp;|&nbsp;</li>
				<li class="s__center"><a class="link_center" href="help.html"
					rel="nofollow" title="会员中心">会员中心&nbsp;<span
						class="s__arrow_red_down">&nbsp;</span>
				</a>
					<div id="user_menu_list">
						<p>
							您好! 进入会员中心请先<a href="login.html">&nbsp;登录&nbsp;</a>或<a
								href="reg.html ">&nbsp;注册&nbsp;</a>
						</p>
					</div></li>
				<li>&nbsp;|&nbsp;</li>
				<li class="s__clearing"><div class="s__cart">
						<a href="/shopcart/doCart.xf" rel="nofollow">去购物车&nbsp;<span
							class="s__arrow_red_down">&nbsp;</span>
						</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="w750 mt30 fr">
			<ul class="m_0_23 inline w464 fr li_left li">
				<li class="w14 h14 circle bp_0-36"></li>
				<li class="w136 h8 mt6 bt_2_f1f">&nbsp;</li>
				<li class="w14 h14 circle bp_0-36"></li>
				<li class="w136 h8 mt6 bt_2_f1f">&nbsp;</li>
				<li class="w14 h14 circle bp_0-36"></li>
				<li class="w136 h8 mt6 bt_2_f1f">&nbsp;</li>
				<li class="w14 h14 circle bp_0-19"></li>
			</ul>
			<ul class="w510 mt10 fr li_left li">
				<li class="w60 bold f14 c666">选购商品</li>
				<li class="w90">&nbsp;</li>
				<li class="w60 bold f14 cd00">提交订单</li>
				<li class="w90">&nbsp;</li>
				<li class="w60 bold f14 c666">支付订单</li>
				<li class="w90">&nbsp;</li>
				<li class="w60 bold f14 c666">等待签收</li>
			</ul>
		</div>
		<h1 id="h1_menu">
			<br />
			<img src="/Images/logo/shop_logo2.png" />
		</h1>
	</div>



	<div id="main">
		<!-- <form id="order_form" name="order_form" action="addresstable" method="post" onsubmit="return formCheck()" novalidate="novalidate">-->
		<div class="mt30">
			<div>
				<b class="f14">收货信息：</b> <font class="c999">我们将选用最专业的快递公司联邦快递、顺丰快递、EMS等</font>
			</div>
			<div class="mt20 bl_3_f6f">
				<ul id="addrIfr" class="w970 m0a f14 c333">
					<div class="clear"></div>

					<li class="mt5">
						<form id="form1" name="form1" method="post" >
							<label id="newAddr" class="h34 inbl w970 bgf6f bold br5 c000" style="">
							<input type="radio" id="xAddress" name="shipping_address_id" value="">
							<span  class="m_0_5">使用新地址</span>
							<span id="AddressNb"></span>
							<input id="jAddress" type="radio" checked name="shipping_address_id" value="">
							<span  class="m_0_5 jAddress">使用旧地址</span>
							</label>
							<ul id="chaAddr" class="w940 m0a bgf6f br10 pb20 f13 pl30 show">

								<li class="h34 pt10 pb2 rel"><span
									class="f14 fl w80 tr mr5"> <b class="cd00 pr5">*</b>收货人:</span>
								<div class="rel inbl">
										<input type="text" required name="race_name" id="textna"
											class="b_1_e5e p_0_5 w264 h34 c999" maxlength="10">
									<input type="hidden" name="info_id"/>
									</div></li>
								<li class="mt10 h34 pt2 pb2 rel z100"><span
									class="f14 fl w80 tr mr5"><b class="cd00 pr5">*</b>地区:</span>
								<div id="area">
										<input name="province" required id="citySelect"  type="text"  class="city_input b_1_e5e p_0_5 w264 h34 c999" readonly="readonly">
									</div>
								</li>
								<li class="mt10 h34 pt10 pb2 rel"><span
									class="f14 fl w80 tr mr5"> <b class="cd00 pr5">*</b>街道地址:</span>
								<div class="rel inbl">

										<input type="text" required class="b_1_e5e p_0_5 w440 h34 c999"
											name="street" id="textaddre" maxlength="150">
									</div></li>
								<li class="mt10 h34 pt2 pb2 rel"><span
									class="f14 fl w80 tr mr5"> <b class="cd00 pr5">*</b>手机:</span>
								<div class="rel inbl">

										<input type="text" required class="b_1_e5e p_0_5 w264 h34 c999"
											name="phone" id="textmob" maxlength="11">
									</div></li>
								<li class="mt10 h34 pt2 pb2 rel"><span
									class="f14 fl w80 tr mr5"><b class="cd00 pr5">&nbsp;</b>邮箱:</span>

									<div class="rel inbl">
										<input type="text" class="ignore b_1_e5e p_0_5 w264 h34 c999"
											name="zipCode" id="textem" maxlength="60">
									</div></li>
								<li class="mt10 h34 pt2 rel"><span
									class="f14 fl w80 tr mr5">&nbsp;</span>
								<div class="rel inbl save_a">

										<input style="width:80px;height:30px;  color: white; background-color:red;"
											type="submit" name="submit" id="submit" value="保存">
										<a href="javascript:;" id="cancel"
											class="w80 h26 f14 bold bgccc inbl tc cfff">取消</a>
								</div>
								</li>


							</ul>
						</form>
				<div id="addressLast" class="mt10 h34 pt2 pb2">
						<select id="address">

						</select>
						<span>修改</span>
						&nbsp;&nbsp;&nbsp;
						<span>删除</span>
				</div>
			</div>
		</div>

		<div class="mt30">
			<div>
				<b class="f14">商品详细：</b>
			</div>

			<div class="clear"></div>
			<div class="bl_3_f6f">
				<div class="w970 mt20 m0a bgf6f br10" id="product_list">
					<ul class="c999 f13 h40 li_left">
						<li class="w510 tl pl20">商品</li>
						<li class="w120 tc">售价</li>
						<li class="w120 tc">数量</li>
						<li class="w100 tr pl64">操作</li>
					</ul>


					<ul class="bt_1_eae bb_1_fff" id="goods_line_548546"></ul>
					<div th:each="w_info : ${w_infos}" class="w_infosDiv">
					<ul class="w_each c999 f13 h120 li_left" id="goods_list_548546">
						<li class="w510 tl pl20">
							<a href="#" target="_blank" class="fl tijiao_watch_name">
							<img th:src="${w_info.tb_watchs.watch_image }" width="100px" height="100px" class="m_10_20_10_0"
								 th:alt="${w_info.tb_watchs.watch_name}">
						</a>
							<font class="w390 bold c333 fl h20 mt35">[[${w_info.tb_watchs.watchBrand.brand_name}]]&nbsp;&nbsp;
								[[${w_info.tb_watchs.watch_name}]]</font>
						</li>
						<li class="w120 tc">￥<font class="w_price bold ccf0 f16">[[${w_info.tb_watchs.watch_price}]]</font></li>
						<li class="w120 tc">
							<span class="slx btne3d w18 h22 inbl re-t0-l5 ie-t1_m50 ie_mi" oprtype="minus" oprid="548546">—</span>
						<input type="text" disabled id="good s_number_548546" name="goods_number" maxlength="4" size="2" th:value="${w_info.add_count}"
							class="ignore b_1_e5e p_0_5 tc w28 h20  ie-t1_m50 ie_mi goods_number c000 bold" title="1">
							<span class="sls btne3d w18 h22 inbl re_t0-l5 ie-t1_m50 ie_mi" >+</span>
						</li>
						<li class="w100 tr pl64">
							<a href="javascript:void(0)" class="delete ul h120">删除</a>
							<input type="hidden" class="shop_id" th:value="${w_info.id}">
							<input type="hidden" class="w_id" th:value="${w_info.w_id}">
						</li>
					</ul>


					<ul class="bt_1_eae bb_1_fff lb_ul"></ul>
					<ul class="c999 f13 h40 li_left lb_ul">
						<li class="w510 pl20">
							<font class="bold c333">[[${w_info.tb_watchs.watchBrand.brand_name}]]三年保修服务</font>
						</li>
						<li class="w120 tc"><font class="ccf0">标配</font>
						</li>
						<li class="w120 tc c333">1</li>
						<li class="w100 tr pl64">&nbsp;</li>
					</ul>

					<ul class="bt_1_eae bb_1_fff lb_ul"></ul>
					<ul class="c999 f13 h40 li_left lb_ul">
						<li class="w510 pl20"><font class="bold c333">[[${w_info.tb_watchs.watchBrand.brand_name}]]包装盒丶礼品卡等</font>
						</li>
						<li class="w120 tc"><font class="ccf0">标配</font>
						</li>
						<li class="w120 tc c333">1</li>
						<li class="w100 tr pl64">&nbsp;</li>
					</ul>
					</div>



					<input type="hidden" id="refresh_when_delete" value="0">

					<ul class="bt_1_eae bb_1_fff"></ul>
					<div class="c999 f12">
						<div class="fl">
							<div class="m20">
								<div class="m20">
									<b class="f14 c333">折扣优惠：</b> <select class="w410">
										<option value="-1">----- 选择参与的活动折扣形式 -----</option>
										<option value="124">兴业银行活动</option>
										<option value="123">招行特惠活动：最高立减2000元！</option>
										<!--<option value="-1" selected>直接使用优惠券（不参与活动）</option>-->
									</select>

								</div>
							</div>
							<div class="mt10 fl"></div>
						</div>
						<div class="fr mt10">
							<ul class="price">
								<li class="w200 h24 f14 c333"><span class="w100 tr fl">商品总额：</span>
									<span class="w90 tr bold ccf0 fl" id="f_goods_total">￥<span
										id="goods_amount">0.00</span>
								</span></li>
								<li class="w200 h24 f14 c333"><span class="w100 tr fl">运费：</span>
									<span class="w90 tr bold ccf0 fl">+￥0</span></li>
								<li class="w200 h24 f14 c333"><span class="w100 tr fl">优惠券：</span>
									<span class="w90 tr bold ccf0 fl" id="bonus_detail"> - ￥<span
										id="bonus_amount">0</span> </span></li>
								<li class="w200 h24 f14 c333"><span class="w100 tr fl">礼品卡：</span>
									<span class="w90 tr bold ccf0 fl"> - ￥<span
										id="gift_card_amount">0</span> </span></li>
							</ul>
						</div>
					</div>

					<div id="f_gift_card_div_container">


						<div class="c999 f12">
							<div class="fl">
								<div class="mt10 fl"></div>
							</div>

						</div>
					</div>

					<div class="clear"></div>
				</div>
			</div>
			<div id="ope" class="w930 m0a">
				<div class="fl">
					<div class="mt70 rel">
						<input type="text" name="order_note" id="order_note"
							class="ignore b_1_e5e p_0_5 w464 h34 cbbb f14"
							value="写下你的订单留言..." tip="写下你的订单留言..." maxlength="255">
					</div>
				</div>
				<div class="fr">
					<div class="tc cd00 mt20">
						<font class="f12 bold">最终需支付：￥</font> <font class="f28"
							id="order_total">0.00</font>
					</div>
					<div class="mt20">
						<input type="hidden" id="all_has_stock" value="1"> <a
							rel="nofollow" id="order_pop_login" href="#"
							class=" fancybox.iframe" style="display:none;">检查登录</a>
						<a class="submitOrder">
							<i style="display: none" id="buy_type_token">[[${buy_type_token}]]</i>
							<input type="submit" id="order_checkout_submit" class="btnd00 w212 h40 f16 bold" value="提交订单，去支付">
						</a>
						<b id="wait_submit" class="hide">订单正在提交中，请稍候
							<img style="width:24px;height:24px;" src="/Images/loading_1.gif">
						</b>
					</div>
				</div>
			</div>
		</div>
		<!--</form>-->
	</div>



	<div id="footer">
		<div class="info">
			<p class="copyright">好利时名表 版权所有 Copyright 2014-2015 www.xxxxxxx.cn
				. LTD ALL RIGHT RESERVED.</p>
		</div>
	</div>
	<!-- 弹出层 -->
	<div id="Popup">
		<div id="Popup-xx">
			<div class="payExit">
				<i>X</i>
			</div>
			<iframe  >

			</iframe>
		</div>

	</div>
<script type="text/javascript" src="/js/cityselect20160808/cityselect/cityselect.js"></script>
<script type="text/javascript" src="/js/tijiao.js"></script>

</body>


</html>
